<!-- <app-header></app-header>
<div class="search-bar">
  <div class="search-container">
      <input type="search" id="search-bar" placeholder="SEARCH">

      <button>S</button>

    <button class="toggleBtn" style="margin-left: 40px;"><h1>Show</h1></button>
  </div>
</div>
<div *ngIf="false" class="filter">
</div>
<app-tab-header></app-tab-header> -->
<app-header></app-header>

<app-s-page-header-search></app-s-page-header-search>
<app-s-page-header></app-s-page-header>
<section class="fullscreen">

<div class="listing" *ngFor="let result of productResult; let i = index;">
  <!-- <--------------------------------------------------------------------Product Card------------------------------------------------------------------------->
<div class="Card" *ngIf="result != null" >

  <div>
    <div class="productCard">
      <div class="productImage">

          <div class="productCard">
        <div class="productImage">
          <img src="{{result.Image}}"  routerLink = "/product-page/{{result._id}}" style="cursor:pointer">
        </div>
        <div class="productContent" >
        <div class="content">

        <div class="productCategory">
            <div class="b_page_btn" *ngIf = "this.token">
                <button  (click)= "addProductBookmark(i ,result._id)"  *ngIf = "!this.productId[i].bookm else bloading"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 2v17.582l-4-3.512-4 3.512v-17.582h8zm2-2h-12v24l6-5.269 6 5.269v-24z"/></svg></span></button>
                <ng-template #bloading>
                    <button (click)="deleteProductBookmark(i,result._id)"><span><svg xmlns="http://www.w3.org/2000/svg" style="fill:green;" width="24" height="24" viewBox="0 0 24 24"><path d="M18 24l-6-5.269-6 5.269v-24h12v24z"/></svg></span></button>
                </ng-template>
              </div>
              <div class="b_page_btn" *ngIf = "!this.token">
                <button  (click)= "openLogin()"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 2v17.582l-4-3.512-4 3.512v-17.582h8zm2-2h-12v24l6-5.269 6 5.269v-24z"/></svg></span></button>

              </div>
        <h6>{{result.category}}</h6>
        </div>
        <div class="productName">
          <h2 (click)="gotoProductPage(result._id)">{{result.productName}}</h2>
          <h5>{{result.company}}</h5>

          <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 4px">{{result.industry}}</span><span style= "padding-left: 8px">Country</span></small>
        </div>
        <div class="discription" style="margin-top:30px;">
        <p>{{(result.shortDescription | slice:0:250) +' ...'}}</p>
        </div>
        <div class="tags">

        </div>
        <div class="other-info">
          <div class="price">
          <h4>{{result.price}} {{result.minPrice}}</h4>
        </div>
        <div class="hits">
          <p>24,354 hits</p>
        </div>
        </div>
        </div>
        </div>
          </div>
        <!-- <--------------------------------------------------------------------Service Card------------------------------------------------------------------------->
  </div>
</div>
</div>
</div>
</div>
</section>

<div class="mob-cards" *ngFor="let result of productResult; let i = index;">
    <div class="card-wrapper" *ngIf="result !== null">
        <div class="header">
            <div class="header-content" style="width:95%; display: flex">
              <h5 style="width:50%;">Product</h5>
             <div *ngIf="this.token">

              <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" (click)= "addProductBookmark(i ,result._id)"  *ngIf = "!this.productId[i].bookm else bloadingmob" >Bookmark</h5>


              <ng-template #bloadingmob >
                  <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" (click)="deleteProductBookmark(i,result._id)" (click)= "addProductBookmark(i ,result._id)"  *ngIf = "!this.productId[i].bookm else bloadingmob" >Unbookmark</h5>
            </ng-template>
             </div>
             <div *ngIf="!this.token">

                <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" (click)= "openLogin()">Bookmark</h5>

               </div>

          </div>
        </div>

      <div class="img-banner"><img src="https://images.unsplash.com/photo-1543872981-578a0310c83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>

      <div class="main-content">
        <div class="content-details">
          <p>Something is here Some of the contnet</p>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content" style="width:95%; border-top:1px solid #ccc; display: flex">
          <h6 style="width:35%;">Price</h6>
          <h6  style="float:right;justify-content: flex-end; display: flex; width: 65%; text-align: right" >23,445 hits</h6>
      </div>
    </div>

</div>
</div>

<div *ngIf = "!productResult.length" class="result_not_found">
    <img src = "../../../assets/images/result_not_found.png">
  </div>
