<!-- <app-header></app-header>
<div class="search-bar">
  <div class="search-container">
      <input type="search" id="search-bar" placeholder="SEARCH">

      <button>S</button>

    <button class="toggleBtn" style="margin-left: 40px;"><h1>Show</h1></button>
  </div>
</div>
<div *ngIf="false" class="filter">
</div>
<app-tab-header></app-tab-header> -->
<app-header></app-header>
<app-side-nav></app-side-nav>
<app-s-page-header-search></app-s-page-header-search>
<app-s-page-header></app-s-page-header>
<section class="fullscreen">
<div class="listing" *ngFor="let result of this.search.searchResult; let i = index;">
  <!-- <--------------------------------------------------------------------Product Card------------------------------------------------------------------------->
<div class="Card" *ngIf="result != null" >

  <div>

    <div class="productCard" *ngIf="result.type == 1 && result._id != null" >
      <div class="productImage">
          <div class="bookmark" *ngIf="notlogin" (click)="openLogin()">

            </div>
        <div class="bookmark" *ngIf="!notlogin" (click)="bookmark(result._id)" >
        
        </div>
        <img src="https://picsum.photos/200/300/?random">
      </div>
      <div class="productContent" >
      <div class="content">
      <div class="productCategory">
      <h6>{{result.catogory}}</h6>
      </div>
      <div class="productName">
        <h2>{{result.productName}}</h2>
        <h5>{{result.company}}</h5>
        <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 4px">Device</span><span style= "padding-left: 8px">country</span></small>
      </div>
      <div class="discription" style="margin-top:30px;">
      <p>{{result.shortDescription}}</p>
      </div>
      <div class="tags">

      </div>
      <div class="other-info">
        <div class="price">
        <h4>{{result.minPrice}}</h4>
      </div>
      <div class="hits">
        <p>24,354 hits</p>
      </div>
      </div>
      </div>
      </div>
        </div>
        <!-- <--------------------------------------------------------------------Service Card------------------------------------------------------------------------->
        <div class="ServiceCard" *ngIf="result.type == 2 && result._id != null" >

            <div class="ServiceContent">
            <div class="content">
            <div class="ServiceCategory">
            <h6>{{result.catogory}}</h6>
            </div>
            <div class="ServiceName">
              <h2>{{result.serviceName}}</h2>
              <h5>{{result.company}}</h5>
              <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 8px">Device</span><span style= "padding-left: 8px">Country</span></small>
            </div>
            <div class="discription" style="margin-top:30px;">
            <p>{{result.shortDescription}}</p>
            </div>
            <div class="tags">

            </div>
            <div class="other-info">
              <div class="price">
              <h4>{{result.minPrice}}</h4>
            </div>
            <div class="hits">
              <p>24,354 hits</p>
            </div>
            </div>
            </div>
            </div>
            <div class="ServiceImage">
                <div class="bookmark" (click)="serviceBookmark(result.id)">

                </div>
                <img src="https://picsum.photos/200/300/?random">
              </div>
              </div>
  </div>
</div>

</div>
</section>

<div class="mob-cards">
    <div class="card-wrapper">
        <div class="header">
            <div class="header-content" style="width:95%; display: flex">
              <h5 style="width:50%;">Product</h5>
              <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
          </div>
          <div class="header-content" style="width:95%; display: flex" *ngIf="false">
              <h5 style="width:50%;">Service</h5>
              <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
          </div>
        </div>

      <div class="img-banner"><img src="https://images.unsplash.com/photo-1543872981-578a0310c83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>

      <div class="main-content">
        <div class="content-details">
          <p>Something is here Some of the contnet</p>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content" style="width:95%; border-top:1px solid #ccc; display: flex">
          <h6 style="width:35%;">Price</h6>
          <h6  style="float:right;justify-content: flex-end; display: flex; width: 65%; text-align: right" >23,445 hits</h6>
      </div>
    </div>

</div>

<div class="card-wrapper">
    <div class="header">
        <div class="header-content" style="width:95%; display: flex">
          <h5 style="width:50%;">Product</h5>
          <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
      </div>
      <div class="header-content" style="width:95%; display: flex" *ngIf="false">
          <h5 style="width:50%;">Service</h5>
          <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
      </div>
    </div>

  <div class="img-banner"><img src="https://images.unsplash.com/photo-1543872981-578a0310c83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>

  <div class="main-content">
    <div class="content-details">
      <p>Something is here Some of the contnet</p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content" style="width:95%; border-top:1px solid #ccc; display: flex">
      <h6 style="width:35%;">Price</h6>
      <h6  style="float:right;justify-content: flex-end; display: flex; width: 65%; text-align: right" >23,445 hits</h6>
  </div>
</div>

</div>
</div>
