<header>
    <div class="s_page_header">
        <div class="s_page_header_link">
          <a href="#">Home</a><span>  > </span>
          <a href="#">All</a>
       </div>
       <div class="s_page_details">
            <h1>Showing 1-40  of 84,164 results for <a href="#">All</a></h1>
        </div>
        <div class="s_page_links">
            <div class="s_page_links1">
             <select>
                <option>All</option>
                <option>hey</option>
                <option>hey</option>

             </select>
            </div>
            <div class="s_page_links2">
                <a href="#"> Company</a>
              </div>
              <div class="s_page_links3">
                  <a href="#"> feed</a>
                </div>
         </div>
        </div>
</header>
