<header>

  <div class="s_page_header">

    <div class="s_page_links">
      <div class="s_page_links1" >

        <h3 routerLink="/productresults/{{this.word}}/{{this.page}}" routerLinkActive="activate">Product</h3>
        <!-- <option>hey</option>
                <option>hey</option> -->

      </div>
      <div class="s_page_links2">
        <a routerLink="/companyresults/{{this.word}}/{{this.page}}" routerLinkActive="activate"> Company</a>
      </div>
      <div class="s_page_links3">
        <a routerLink="/feedresults/{{this.word}}/{{this.page}}" routerLinkActive="activate"> Feeds</a>

      </div>
    </div>
  </div>
</header>
