
<header>

    <div class="s_page_header">
        <!-- <div class="s_page_header_link">
          <a href="#">Home</a><span> {{pagecounter}} </span>
          <a href="#">All</a>
       </div> -->
       <!-- <div class="s_page_details">
            <h1> <a href="#">All</a></h1>
        </div> -->
        <div class="s_page_links">
            <div class="s_page_links1">
             <select routerLink = "/Result/{{this.word}}/{{this.page}}">
                <option>All</option>
                <!-- <option>hey</option>
                <option>hey</option> -->

             </select>
            </div>
            <div class="s_page_links2">
                <a routerLink = "/companyResults/{{this.word}}/{{this.page}}"> Company</a>
              </div>
              <div class="s_page_links3">
                  <a routerLink = "/feeds/{{this.word}}/{{this.page}}"> Feed</a>

                </div>
         </div>
        </div>
</header>
