.s_page_header
{
    border: solid 1px gray;
    width: 80%;
    margin: 0px auto;
    margin-top: 1%;
}

.s_page_header_link
{
    width: 100%;

}
.s_page_header_link span
{
    font-size: 29px;
    color: #707070;
}
.s_page_header_link a
{
    font-size: 29px;
    text-decoration: none;
    color: #707070; 
}
.s_page_details
{
    color: #707070;
}
.s_page_details a
{
    text-decoration: none;
    color: #707070;    
}
.s_page_links
{

    width: 100%;
}
.s_page_links select
{
    font-size: 29px;    
    border: none;
    color: #060606;
}
.s_page_links a
{
  
    font-size: 29px;
    text-decoration: none;
    color: #707070; 
}
.s_page_links1
{
    float: left;
}
.s_page_links2 
{
    float: left;
    margin: 0px 20px;
}