<div class="sigup-form">
    <h2>
      SIGN IN
    </h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()" >
      <ul>
  <li class="form-elements"><input type="email" placeholder="EMAIL ADDRESS" formControlName= "email" name="Email"></li>
  <li class="form-elements"><input type="password" placeholder="PASSWORD" formControlName= "password" name="Password"></li>
  </ul>
  <button>SIGN IN</button>
    </form>
    <span class="other_option"><h6>Or you can Sign In with the following</h6></span>
    <div class="social_icon_signup">
      <div class="social_icon">
        <img src="../../../assets/images/facebook_logos_PNG19753.png">
      </div>
      <div class="social_icon">
        <img src="../../../assets/images/new-google-logo-2015.png">
      </div>
      <div class="social_icon">
          <img src="../../../assets/images/square-linkedin-512.png">
      </div>
    </div>
    <div class="login-link">
      <h4>Don't have a Account?<span style="color:cadetblue; margin-left: 5px;cursor: pointer;" (click) = " openSignup()">SIGN UP</span></h4>
    </div>
  </div>
