<div class="sigup-form">
    <h2>
      SIGN IN
    </h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()" >
      <ul>
  <li class="form-elements"><input type="email" placeholder="EMAIL ADDRESS" formControlName= "email" name="email" [ngClass]="{'error': !login.get('email').valid && login.get('email').touched}"></li>
  <li class="form-elements"><input type="password" placeholder="PASSWORD" formControlName= "password" name="password" [ngClass]="{'error': !login.get('password').valid && login.get('password').touched}"></li>
  </ul>
  <button class="sign_in">Sign In</button>
    </form>
    <span class="other_option"><h6>Or you can Sign In with the following</h6></span>
    <!-- <div class="social_icon_signup">
      <div class="social_icon">
         <img (socialUser)="getSocialUser($event)" src="../../../assets/images/facebook_logos_PNG19753.png">
      </div>
      <div class="social_icon">
        <img (socialUser)="getSocialUser($event)" src="../../../assets/images/new-google-logo-2015.png">
      </div>
      <div class="social_icon">
          <img (socialUser)="getSocialUser($event)" src="../../../assets/images/square-linkedin-512.png" id="linkdin_img">
      </div>
    </div> -->
    <facebook-login-button  (socialUser)="getSocialUser($event)"></facebook-login-button>

<google-login-button (socialUser)="getSocialUser($event)"></google-login-button>

<linkedin-login-button (socialUser)="getSocialUser($event)"></linkedin-login-button>
    <div class="login-link">
      <h4>Don't have a Account?<span style="color:cadetblue; margin-left: 5px;cursor: pointer;" (click) = " openSignup()">SIGN UP</span></h4>
    </div>
  </div>
