

              <form (submit)="getProduct()">
                    <div class="tag_product">
                      <div class="tag">
                        <div class="heading">
                        <h2>  Tag Product</h2>
                        <button type="button">X</button>
                        </div> 

                        <div class="form">
                           <input list="product" [(ngModel)]="product_id" name="product_id"  placeholder="Product">
                         <datalist id ="product"  >
                        <div *ngFor = "let product of products; let i = index">
                       <option  value="{{i}}">{{product.productName}}</option>
                    </div>
                  </datalist>
                            
                        </div>  
                        <div class="tag_btn">
                          <button type="submit">Tag</button>
                         </div> 
                       </div> 
                     </div>   
              </form>