
<div *ngIf="this.products.length">
    <div class="product_speci">
        <button (click)="this.dialogRef.close()" class="remove_product" ><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></span></button>
      </div>
              <form (submit)="getProduct()">
                    <div class="tag_product">
                      <div class="tag">
                        <div class="heading">
                        <h2>  Tag Product</h2>
                        </div>

                        <div class="form">
                           <input list="product"  [(ngModel)]="product_name" name="product_name" autocomplete="off" placeholder="Product">

                         <datalist id ="product"  >
                        <div *ngFor = "let product of products">
                       <option value="{{product.productName}}" >
                    </div>
                  </datalist>

                        </div>
                        <div class="tag_btn">
                          <button type="submit" [disabled] = "!product_name" >Tag</button>
                         </div>
                         
                       </div>
                     </div>
              </form>
</div>
<div *ngIf= "!products.length">
  <h1 style="text-align: center">No Product Created</h1>
</div>
