.tag
{
    width: 96%;
    padding: 10px;
    
}
.heading
{
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 4%;
    margin-top: 1%;
}
.heading h2
{
    font-size: 30px;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;

}
.heading button
{
    font-size: 20px;
    background-color: transparent;
    width: 10%;
    height: 4vh;
    border: none;
}
.form ul li
{
    list-style: none;
}
.form input
{
    width: 96%;
    height: 4vh;
    margin-bottom: 4%;
}
.form input::placeholder
{
    font-size: 20px;
    /* padding: 10px; */
}
.form select
{
    width: 96%;
    height: 4vh;
    margin-top: 2%;

}
.tag_btn
{
    text-align: right;
}
.tag_btn button
{
    background-color: rgb(59, 134, 255);
    width: 15%;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 4vh;
    margin-right: 3%;
}
.remove_product
{
  float: right;
  position: relative;
  border: none;
  top: 3.5px;
  width: 0% ! important;
  background-color: transparent;
  left: -24.3px;
  outline: none;

}
.remove_product svg
{
  background-color:white;
 /* fill: #ef0707; */
 width: 18px;
}