.following_title
{
  padding-top: 3%;
}
.following_title h1 {
    width: 80%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.user_following {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 1px 5px 2px rgba(25, 25, 25, 0.2);
    padding: 10px;
}



.following {
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0px rgba(25, 25, 25, 0.2);
    margin: 10px auto;
    width: 94%;
    border-radius: 10px;
}

.following_1 {
    width: 70%;
    display: flex;
    margin-left: 1%;
}

.following_image {
    width: 10%;
}

.following_image img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 10px 0px;
}

.following_name {
    margin-left: 4%;
    width: 30%;
    margin-bottom: auto;
    margin-top: auto;
    height: 56%;
}

.following_name h2 {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
    cursor: pointer;
    margin-left: 8px;
}

.following_name span {
    font-size: 12px;
}

.following_bookmark {
    width: 15%;
    align-items:center;
    margin-left: 30px;
    display: flex;
}

.following_bookmark img {
    width: 20%;
}

.following_bookmark span {
    font-size: 13px;
    margin-left: 2%;
}

.following_2 {
    width: 30%;
    display: flex;
}

.followBtn {
    width: 100%;
    height: auto;
    float: right;
    text-align: left;
    /* margin-top: 18%
     */
     margin-top: auto;
     margin-bottom: auto;
}

.followBtn button {
    width: 90%;
    background-color: rgb(56, 67, 79);
    color: #ffffff;
    font-weight: 600;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.followBtn svg {
    width: 15px;
}

.following_icon1 {
    width: 60%;
    margin: 0px 10px;
    margin-top: auto;
    margin-bottom: auto;

}

.following_icon1 img {
    width: 80%;
    border-radius: 100%;
    cursor: pointer;
}





section{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: none;
  }
  .listing{
    width: 100%;
    height: auto;
  }
  .companyCard{
    width: 48%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    float: left;
    margin-top: 40px;
    margin-right: 1%;
    margin-left: 1%;
  }
  .cardHeader{
    width: 95%;
    margin: 0 auto;
    display: flex;
  }
  .logo{
    height: auto;
  }
  .logo img{
    width: 120px;
    height: 120px;
    padding: 5px 0 0 0;
    border-radius: 50%;
  }
  .companyInfo{
    width: 65%;
    margin-left: 20px;
  }
  .companyInfo h1{
    margin: 0;
    padding: 5px 0 0 0;
  }
  .companyInfo button{
    width: 18%;
    height: 25px;
    border: none;
    border-radius: 10px;
  }
  .storyBtn{
    width: 40%;
    margin-left: 5%;
    margin-top: 20px;
  }
  .storyBtn button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border:none;
  }
  .discription{
    width: 90%;
    margin: 0 auto;
  }
  .discription p{
    width: 80%;
  }
  .cardFooter{
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .tags{
    width: 60%;
  
  }
  .tags p{
    margin: 0;
    padding: 0px 0 15px 0;
  }
  .icons{
    width: 20%;
    display: flex;
  }
  .icons p{
    margin: 0;
    padding: 0px 0 15px 0;
  }
  .des
  {
    display: none;
  }
  .no_follower_dummy
{
  text-align:center;     margin: 0 auto;width: 50%;
}

.no_follower_img img
{     width: 100px;
}
.no_follower_text
{
  text-align: center;
}
.no_follower_text h3
{
    margin-top: auto;
    font-size: 25px;
    /* color: gray !important; */
}

  @media screen and (max-width: 700px){
    .following_title
    {
      padding-top: 10%;
    }
  
    section{
      width: 95%;
      margin: 0 auto;
      display: block;
    }
    .user_following {
      
      box-shadow:none;
      width: 100%;
      padding: 0;
      
  }
  
    .no_follower_dummy 
    {

      width: 100%;
    }
    .no_follower_img   img 
    {
      width: 70px;
    }
  .no_follower_text h3
   {
    
    font-size: 15px;  
    }
   .following_image {
      width: 24%;
  }
  .following_image img
   {
    width: 60px;
    height: 60px;
 
  }
  .following_name
   {
    margin-left: 4%;
    width: 45%;

    margin-bottom: auto;
        margin-top: 12%;
    height: 100%;  
  }
  .following_name h2{
  
    font-size: 15px;
  
  }
  .following_name span {
    display: none;
}

  }
  @media screen and (min-width: 767px)and (max-width: 1024px){
    .following_title
    {
      padding-top: 6%;
    }
    .following_name h2 {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
    margin-left: 8px;
    font-size: 19px;
}
.following_2 {
    width: 40%;
    display: flex;
}
.following_1 {
    width: 65%;
    display: flex;
    margin-left: 1%;
}
.followBtn {
    width: 100%;
    height: auto;
    float: right;
    text-align: left;
    margin-top: 14%;
}
.following_image img {
  width: 50px;
  height: 50px;
 
}
}