<app-side-nav ></app-side-nav>
<app-header></app-header>
<div class="following_title">
    <h1> Following</h1>
</div>
<div class="user_following" >
    <div class="follow_search" >
    </div>
    <div class="following"  *ngFor="let following of followings let i = index">
        <div class="following_1">
            <div class="following_image">
                <img src="{{following.companyLogo}}">
            </div>
            <div class="following_name">
                <h2 (click)="gotoBpage(following._id)"> {{ following.companyName }}</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">{{ following.category}}</span>
                <span style="padding: 0px 10px;">{{following.industry}}</span>
            </div>
            <div class="following_bookmark">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                <span>{{following.followers.length}}</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button  (click)="onunfollow(i,following._id)"  *ngIf = "this.followings[i].follow else loading">Following</button>

             <ng-template #loading>
            <button (click)="onfollow(i,following._id)" >Follow</button>
        </ng-template>
            </div>
            <div class="following_icon1">
             <a target="_blank" href="http://{{following.website}}"><img src="assets/images/google_icon.png"></a>

            </div>
            <div class="following_icon1">
                <img src="assets/images/contact1.png">

            </div>
        </div>
    </div>
    </div>
<ng-template #load>
<h2>No Followings</h2>
</ng-template>

    <section>


        <div class="listing">
        <div class="companyCard">
        <div class="cardHeader">
          <div class="logo">
           <img src="https://picsum.photos/200/300/?random">
          </div>

          <div class="companyInfo">
            <h1>Company Name <span style="font-size:13px;" class="b1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span></h1>
            <p style="font-size: 12px;"><span style="padding: 0 10px 0 0;border-right: 1px solid #ccc" >Location</span> <span style="padding: 0 0 0 10px;">Industry</span></p>
            <button>Follow</button> <span style="margin-left:20px;">24,567 followers</span>
            <div class="icons" style=" padding: 10px 0;">
                <p>Website</p>&nbsp;&nbsp;&nbsp;
                <p>contact</p>
                </div>
          </div>

          <div class="storyBtn">
          <button>Know Our Story</button>
          </div>
        </div>
        <div class="discription">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>

        </div>
        </div>
        </section>
        <app-footer></app-footer>
