.following_title h1 {
    width: 80%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.user_following {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 1px 5px 2px rgba(25, 25, 25, 0.2);
}

.follow_search {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}

.follow_search input[type="search"] {
    font-size: 26px;
    width: 100%;
    background-color: #f5f5fa;
    border: none;
}

.following {
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0px rgba(25, 25, 25, 0.2);
    margin: 10px auto;
    width: 94%;
    border-radius: 10px;
}

.following_1 {
    width: 70%;
    display: flex;
    margin-left: 1%;
}

.following_image {
    width: 10%;
}

.following_image img {
    width: 100%;
    border-radius: 100%;
    padding: 10px 0px;
}

.following_name {
    margin-left: 1%;
    width: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: 56%;
}

.following_name h2 {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
    margin-left: 8px;
}

.following_name span {
    font-size: 12px;
}

.following_bookmark {
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.following_bookmark img {
    width: 20%;
}

.following_bookmark span {
    font-size: 12px;
}

.following_2 {
    width: 30%;
    display: flex;
}

.followBtn {
    width: 100%;
    height: auto;
    float: right;
    text-align: left;
    margin-top: 18%
}

.followBtn button {
    width: 90%;
    background-color: green;
    color: #ffffff;
    font-weight: 600;
    height: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
}

.followBtn svg {
    width: 15px;
}

.following_icon1 {
    width: 100%;
    margin: 0px 10px;
    padding: 10px 0px;
}

.following_icon1 img {
    width: 83%;
    border-radius: 100%
}