<div class="following_title">
    <h1> Following</h1>
</div>
<div class="user_following">
    <div class="follow_search">
        <input type="search" placeholder="search">
    </div>
    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>
    </div>
    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>
    </div>
    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>

    </div>

    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>

    </div>
    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>

    </div>
    <div class="following">
        <div class="following_1">
            <div class="following_image">
                <img src="assets/images/user.png">
            </div>
            <div class="following_name">
                <h2>Company Name</h2>
                <span style="border-right:solid 1px gray;padding: 0px 10px;">India</span>
                <span style="padding: 0px 10px;">India</span>
            </div>
            <div class="following_bookmark">
                <img src="assets/images/bookmark.png">
                <span>21,100</span>
            </div>
        </div>
        <div class="following_2">
            <div class="followBtn">
                <button>Following</button>
            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
            <div class="following_icon1">
                <img src="assets/images/fb.png">

            </div>
        </div>

    </div>

</div>