.bookmark_overview
{
  box-shadow: 0px 1px 8px 1px rgba(25, 25, 25, 0.2);
  margin: 0 auto;
  width: 90%;
  margin-left: 7%;
  margin-top: 2%;
}
section{
  width: 90%;
  margin: 0 auto;
  padding: 4px;
  margin-top: 30px;
}

.feed{
  width: 40%;
  height: 490px;
  display: block;
  margin-right: auto;
  border: 1px solid #cccccc;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20px;
}
.main_feed_card {
  margin: 0 auto;
  width: 54%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.feed1 {
  display: flex;
}

.feed_content {
  border-radius: 10px;
  width: 100%;
  /* box-shadow: 0px 3px 6px 0px rgba(25, 25, 25, 0.2); */
  box-shadow: 0px 1px 8px 1px rgba(25, 25, 25, 0.2);

}

.feed_header {
  display: flex;
}

.feed_logo {
  width: 18%;
  padding: 5px 5px;
}

.feed_logo img {
  width: 60px;
  padding: 5px 4px 0px 3px;
  height: 60px;
}

.feed_name {
  width: 90%;
  margin-top: 4%;
  margin: 9px 9px;

}

.feed_name h4 {
  margin-bottom: auto;
  margin-top: auto;
}

.feed_name p {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 13px;
}

.feed_name h6 {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.feed_following {
  margin-top: 4%;
  /* width: 20%; */
  margin-right: 2%;
}

.feed_following button {
  background-color: lightgreen;
  border: none;
  display: flex;
  color: white;
  width: 100%;
  height: 5vh;
  font-weight: 900;
  border-radius: 10px;
  outline: none;
}

.feed_following p {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  margin-top: 10%;
}

.feed_img img {
  width: 100%;
  /* height: 50vh; */

}

.tagged_product {
  display: flex;
  align-items: center;

}

.tagged_product_img {
  width: 55%;
  padding: 0px 20px 0 0;
}

.tagged_product_img img {
  width: 100%;
  border: solid 1px gray;
  /* padding: 9px; */
}
.tagged_product_text
{
  width: 100%;
}

.container1 {
  position: relative;
  width: 100%;
  overflow: hidden;

}



.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.8);

}

.container1 img {
  transition: transform 0.3s ease-in-out;
}

.container1:hover .overlay1 {
  opacity: 1;
}

.container1:hover img {
  transform: scale(1.2);
}

.feed_text {
  margin: 0 auto;
  width: 85%;
  padding-top: 8%;
}


.feed_text p {
  color: white;
  font-size: 14px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 18px;
}

.feed_text a {
  color: #78aece;
  text-decoration: none;
  padding: 22px;
  font-size: 20px;
}
.bookmark {
  width: 100%;
  height: 3%;
  /* background-color: red; */
  /* position: absolute; */
  margin-left: 10%;
      display: flex;
}
.bookmark p{
  color: white !important;
  margin-left: 4%;

}

.bookmark_share {
  display: flex;
  padding-top: 15%;
  /* margin: 0 auto;
  width: 77%; */

}
.share_feed {
  margin-right: 10%;
}

.bookmark_feed {
  display: flex;
  width: 100%;
}

.bookmark_feed span {
  margin: 0px 8px 0 0;
}

.bookmark_feed p {
  color: white;
  font-size: 22px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
}

.mat-expansion-panel-body {
  padding: 0 0 0 0 !important;
}
.no_product_dummy
{
  text-align:center;     margin: 0 auto;width: 50%;
}
.no_product
{
  height: 25vh;
  display: flex;
  border: solid 1px gray;
  border-radius: 20px;
  margin: 0 auto; 
  width: 100%;
  margin-bottom: 3%;
  margin-top: 4%;
  align-items: center;
}
.no_product_left
{
  height: 25vh;
  width:35%;
  background-color: gray;
  border-radius: 16px 0px 0px 16px;
}
.no_product_right
{
  margin-left: 4%;
  width: 55%;
  text-align: center;
}
@media screen and (max-width:700px){
  .company_industry,.login_user{
    display: none;
  }
  .with_login{
    width: 100%;
    margin: 0px;
    padding-top: 18%;
  }
  .feeds{
    width: 100%;
    padding: 0px;
  }
  .add_media h2{
    font-size: 15px;
    margin-top: -5px;
  }
  .add_media span{
    font-size: 10px;
  }
  .add_feed {
    font-size: 11px;
    width: 12%;
  }
  section{
    width: 95%;
  }
  .followBtn button{
    width: 100%;
    font-size: 8px;
  }
  .followBtn p{
    margin-right: 0;
  }
  .details h1{
    font-size: 15px;
  }
  .details p{
    font-size: 8px;
  }
  .feedInfo p{
    font-size: 10px;
    line-height: 15px;
  }
  mat-panel-title h4{
    font-size: 11px;
  }
  .feed{
    width: 90%;
    height: 490px;
    display: block;
    margin-right: auto;
    border: 1px solid #cccccc;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
  }
  .no_product_dummy {
    width: 100%;
  }
  .main_feed_card {
    margin: 0 auto;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
}

@media screen and (min-width: 767px) and (max-width: 1024px){

  .login_user{
  width: 26%;
  }
  .user_name h2
{
  font-size: 15px;
  color: #FAF6F6;
  margin-top: -2px;
  float: left;
}
  .company_industry{
    width: 25%;
    }
  .feeds{
    width: 48%;
    padding: 0px;
  }
  .add_media h2{
    font-size: 15px;
    margin-top: -5px;
  }
  .add_media span{
    font-size: 10px;
  }
  .add_feed {
    font-size: 15px;
    width: 21%;
  }
  section{
    width: 95%;
  }
  .followBtn button{
    width: 100%;
    font-size: 8px;
  }
  .followBtn p{
    margin-right: 0;
  }
  .details h1{
    font-size: 15px;
  }
  .details p{
    font-size: 8px;
  }
  .feedInfo p{
    font-size: 10px;
    line-height: 15px;
  }
  mat-panel-title h4{
    font-size: 11px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1440px){
  .with_login{
    width: 85%;
  }
}

input{
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border:none;
  margin-left: 10px;
}
