<!-- Forget-password -->
<div class="main-form" *ngIf="otp">
  <div class="form-container">
    <div class="form">
      <div class="avatar-form">
        <img src="https://i1.imgpile.com/i/6QSdg.png" alt="Avatar" />
      </div>
    </div>
    <form [formGroup]= "requestPasswordForm" (ngSubmit)="requestOtp()">
    <div class="input-form">
      <input type="email" name="email" placeholder="enter your email" formControlName="email">
      <button type="submit">Send OTP</button>
    </div>
  </form>
  </div>
</div>
<!-- ----------------------------------------------------End of forger-password---------------------------------------------------------------- -->

<!-- Enter Otp  -->
<!-- <div id="wrapper" *ngIf="opt==true">
    <div id="dialog">
      <h3>Please enter the 4-digit verification code we sent via SMS:</h3>
      <span>(we want to make sure it's you before we contact our movers)</span>
    </div>
    <form [formGroup]= "verifyoptForm" (ngSubmit)="resetPassword()">
      <div id="form">
        <input type="text" maxLength="6" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="verify">
         <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /> 
        <button class="btn btn-primary btn-embossed" type="submit">Verify</button>
      </div>
    </form>
      <div>
        Didn't receive the code?<br />
        <a href="#">Send code again</a><br />
    
      </div>
  
    </div> -->
  <!-------------------------------------------------------- end of enter otp  ------------------------------------------------------------------>

  <!-- change password -->
  <div class="main-form" *ngIf="change==true">
				
      <div class="form-container">
        <div class="form">
          <div class="avatar-form">
            <img src="https://i1.imgpile.com/i/6QSdg.png" alt="Avatar" />
          </div>
        </div>
        <form [formGroup]= "restPassword" (ngSubmit)="changePassword()">
        <div class="input-form">
          <input type="text" maxLength="6" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="otp" placeholder="Enter OTP">
          <input type="password" name="pass" placeholder="New Password" formControlName="newPassword">
          <input type="password" name="pass" placeholder="Confirm New Password" formControlName="confirmNewPassword">
          <button type="submit">Change Password</button>
        </div>
      </form>
      </div>
    </div>
  
  
  <!-- end of change password -->