<header>
<div class="logo">
    <h1>ELROUTE</h1>
</div>
<div class="search_box" style="height:100%">
  
  
  <input type="search" placeholder="Enter Proudct/Service to search">
</div>
<div class="icon">
   <div class="icon1"> 
    <img src="assets/images/bookmark.png" width="50px;">
   </div>
   <div class="icon2"> 
        <img src="assets/images/bookmark.png" width="50px;">
    </div>
    <div class="icon3"> 
        <img src="assets/images/bookmark.png" width="50px;">
    </div>
</div>
<div class="user">
    <div class="user1">
        <img src="assets/images/user.png" width="50px;" class="img">
    </div> 
    <div class="user2"><p>Nikhil Sharma</p></div>
    <div class="user3">   
         <img src="assets/images/down_arrow.png" width="50px;" class="user_arrow">
     </div>
    
</div>

  

</header>
