<!-- <div class="banner">
  <h1>MARKETING</h1>
</div> -->
<section>
<div class="rightSection">
<div class="serviceImage">
<img src="../../../assets/images/bracelet-camera-equipment-954202.jpg">
</div>

</div>
<div class="leftSection">
    <div class="info">
        <div class="header">
            <div class="description">
                <h2>DESCRIPTION <span style="float:right;">Country</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="otherData">
                 <div class="priceAndTag">
                   <div class="tag">
                    <span></span><p>tag</p>
                   </div>
                   <div class="price">
                     <h2>Rs. 5600</h2>
                   </div>
                 </div>
                 <div class="contact">
                  <button>CONTACT</button>
                 </div>
                </div>
        </div>
        <div class="expnasion">
          <mat-accordion>

            <mat-expansion-panel *ngFor= "let accordion of accordions; let i = index">
              <mat-expansion-panel-header>
                <h2>{{accordion.title}}</h2>
              </mat-expansion-panel-header>

              <p> {{accordion.content}}</p>

            </mat-expansion-panel>
        </mat-accordion>
        </div>
        </div>
<!-- <div class="card">
<div class="header">
 <div class="content">
  <div class="heading">
    <h3>SERVICE CARD</h3>
  </div>
<div class="bookmark">
<p>23,456</p>
<span></span>
</div>
 </div>
</div>
<div class="cardContent">
  <div class="name cardElement">
    <label>ORGANISATION NAME</label>
    <h2>Company Ka Naam</h2>
  </div>
  <div class="industry cardElement">
      <label>Industry</label>
      <h2>MARKETING</h2>
    </div>
    <div class="category cardElement">
        <label>CAtegory</label>
        <h2>SERVICE</h2>
      </div>
      <div class="location cardElement">
          <label>Location</label>
          <h2>Australia</h2>
        </div>
        <div class="spec cardElement">
            <label>specification</label>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="price cardElement">
              <label>price</label>
              <h2>Rs. 5900</h2>

            </div>
            <div class="similar cardElement" style="border-bottom: none">
            <label>Similar Services</label>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="contact">

          </div>
</div>
</div> -->

<section>


  <div class="feed">
  <div class="authorInfo">
  <div class="details">
    <div class="logo">
      <img src="https://picsum.photos/500/300/?random">
    </div>
    <div class="info">
   <h1>Company Name</h1>
   <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;">Industry</p>
   <p style="line-height: 3px;margin-bottom: 10px;">Location</p>
  </div>
  </div>
  <div class="followBtn">
   <button>Following</button>
   <p>34,342 followers</p>
  </div>
  </div>
  <div class="feedInfo">
    <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content </p>
  </div>
  <div class="feed-img">
  <img src="https://picsum.photos/500/300/?random">
  </div>
  <div class="feed-share">
  <p  style="padding: 0; margin: 0;">Bookmark</p>
  <p style="float:right; padding: 0; margin: 0; margin-top: -18px;">Share</p>
  </div>
  <div class="tagged">
     <mat-expansion-panel>
         <mat-expansion-panel-header>
           <mat-panel-title>
            <h4 style="  color: #fff">Tagged Products</h4>
           </mat-panel-title>
         </mat-expansion-panel-header>

         <p>This is the primary content of the panel.</p>

       </mat-expansion-panel>
  </div>
  </div>

  </section>
</div>
</section>
