<div class="follower_box" *ngIf="follower">
    <div class="follower_user">
        <div class="follower_location">
          <span>{{follower.location}}</span>
         </div>
         <div class="follower_img">
            <div class="follower_img1">
              <img alt="follower" src="assets/images/user.png" *ngIf="!follower.userImage">
              <img alt="follower" src="{{follower.userImage}}" *ngIf="follower.userImage">
            </div>
         </div>
        <div style="clear:both"></div>
         <div class="follower_name">
            <h2>{{follower.userName}}</h2>
            <h5>{{follower.title}}</h5>
          </div>
          <div class="follower_des" *ngIf="follower.shortBio">
              <p>{{follower.shortBio}}</p>
          </div>
          <div class="follower_company">
                <div class="company">
                  <div class="company_logo">
                        <img alt="follower" src="assets/images/user.png">
                  </div>
                  <div class="company_name">
                      <h4> ELroute pvt.ltd.</h4>
                </div>
              </div>
                  <div class="followBtn">
                      <button>Following</button>
                  </div>
          </div>
          <div class="follwers_links">
                  <div class="facebook">
                    <img alt="follower" src="assets/images/fb.png">
                   </div>
                   <div class="google">
                      <div class="facebook">
                          <img alt="follower" src="assets/images/fb.png">
                         </div>
                    </div>
                    <div class="linkdin">
                        <div class="facebook">
                            <img alt="follower" src="assets/images/fb.png">
                           </div>
                      </div>
            </div>

  </div>

  </div>
