
<app-side-nav></app-side-nav>
<app-header></app-header>
<section>
    <div class="company_form1">
        <div class="company_form_genral">
                <!-- <div class="tabs">
                        <div class="tab" style="background-color: #ececee;">
                            <a routerLink = "/company-form2" style="    color: #43425d;font-weight: 600;"> GENERAL
                             </a>
                        </div>
                        <div class="tab">
                            <a routerLink = "/company-form3"> BASIC DETAILS
                            </a>
                        </div>
                        <div class="tab">
                            <a routerLink = "/company-form4"> MARKET
                            </a>
                        </div>
                        <div class="tab" style="border:none;">
                            <a routerLink = "/company-form5" > CONTACT
                            </a>
                        </div>
                    </div> -->
                    <app-edit-side-nav style="width:30%;"></app-edit-side-nav>
            <div class="comapany_form" [formGroup] = "companyForm" (ngSubmit) = "onSubmit()">
                <div >
                    <div class="form">

                        <ul>

                             <label>Company Name</label>
                            <li><input type="text" formControlName = "companyName"></li>

                            <label>Country</label>
                            <li>
                                <input list="country"  formControlName = "country" >

                            </li>
                            <label>City(optional)</label>
                            <li><input  type="text" formControlName = "city" ></li>

                            <label>Company Email Address</label>
                            <li><input type="email" formControlName = "companyEmail"></li>

                            <label>Industry</label>
                            <li>
                                <input list="industry" formControlName = "industry">

                            </li>
                            <label>Category</label>
                            <li>
                                <input list="industry" formControlName = "category">

                            </li>

                            <li><button type="submit">UPDATE</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
