
<app-header></app-header>

<app-side-nav></app-side-nav>
<section>
  <div class="company_form1">
    <div class="company_form_genral">
      <app-edit-side-nav style="width:30%;"></app-edit-side-nav>
      <div class="comapany_form" [formGroup]="companyForm">
        <div>
          <div class="form">

            <ul>

              <label>Company Name</label>
              <li><input type="text" formControlName="companyName"></li>

              <label>Country</label>
              <li>
                <input list="country" formControlName="country">

              </li>
              <label>City(optional)</label>
              <li><input type="text" formControlName="city"></li>

              <label>Company Email Address</label>
              <li><input type="email" formControlName="companyEmail"></li>

              <label>Industry</label>
              <li>
                <input list="industry" formControlName="industry">

              </li>
              <label>Category</label>
              <li>
                <input list="industry" formControlName="category">

              </li>

              <li><button type="submit" (click)="onSubmit()">UPDATE</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>

