
<app-header></app-header>
<section>
    <div class="company_form1">
        <div class="company_form_genral">
            <app-edit-side-nav style="width:30%;"></app-edit-side-nav>

            <div class="comapany_form">
                <div>
                    <div class="companyForm">
                       <div class="form" [formGroup] = "companyForm">
                         <ul>
                          <label>Complete Office Address</label>
                            <li><textarea placeholder="Complete Office Address" formControlName = "address"></textarea></li>
                            <div class="location">

                                <label style="width:53%;">City</label>
                                <label>Zip Code</label>


                              </div>
                          <li>
                              <div class="location"  >

                                  <input type="text" formControlName = "city"   class="city" style=" margin: 4px 24px 0 0;">

                                    <input   type="number"  formControlName = "zipCode" class="zip" style=" margin: 4px 0px 0 0;">

                                </div>
                          </li>
                          <label>Landline Number</label>
                          <li>
                              <div class="nub">

                                  <select>
                                  <option>+91</option>
                                  <option>+12</option>
                                  <option>+12</option>
                                </select>
                                <select>
                                    <option>0141</option>
                                    <option>0141</option>
                                    <option>0141</option>
                                  </select>
                                <input type="tel"  formControlName = "landLine">
                              </div>


                          </li>
                          <label>Mobile Number</label>
                          <li>
                              <div class="mob_nub">

                                  <select>
                                  <option>+91</option>
                                  <option>+12</option>
                                  <option>+12</option>
                                </select>

                                  <input type="number" formControlName = "mobile">
                              </div>


                          </li>
                           <li class="email_heading"> <h3>Enter Email Addresses Of Your Company's Divison</h3></li>
                          <li>
                              <div class="submit_btn">
                                <button type="submit" (click)= "onSubmit()">UPDATE</button>
                               </div>
                            </li>
                          </ul>

                      </div>
                      </div>
                  </div>

            </div>
          </div>
        </div>
      </section>
      
