<app-header></app-header>
<app-side-nav></app-side-nav>
<section [formGroup] = "BForm" (ngSubmit)= "onSubmit()">
  <div class="header_responsive">

        <div class="headerElements1">
            <div class="elements"><h4>Info</h4></div>
            <div class="elements" ><h4>Product</h4></div>
            <div class="elements"><h4>Contact</h4></div>
            </div>
        <div class="headerImg">
            <!-- <div class="img" [ngStyle]="{'background-image':getUrl(), 'background-size' : 'contain'}"> </div> -->
               <!-- <div class="img" ><img src="assets/images/bk1.jpg"></div>  -->

        </div>

        <div class="card">
            <div class="logoheader">
            <img src="{{Image}}">
            </div>
            <div class="user_profile">
                <h2>{{CompanyName}}</h2>

                     <div class="follow-btn" *ngIf = "!myCompany">
                    <button (click)="onCompanyFollow()"> FOLLOW</button>
                    <button (click)="onCompanyUnfollow()"> UNFOLLOW</button>
                    <span>24,255</span>
                </div>
                <div class="follow-btn" *ngIf = "myCompany">
                    <button (click) = "EditBpage()">Edit</button>

                </div>
              </div>
        </div>


      </div>

<header>
    <div class="card1">
        <h1 style="margin: 0 auto;width: 97%;     display: flex;padding-top: 10px;font-size: 100%;"><svg xmlns="http://www.w3.org/2000/svg" width="16.464" height="27.259" viewBox="0 0 16.464 27.259">
          <g id="location" transform="translate(-486.5 -340.5)">
            <path id="Union_12" data-name="Union 12" d="M1.174,11.729A7.817,7.817,0,0,1,0,7.585,7.415,7.415,0,0,1,7.232,0a7.415,7.415,0,0,1,7.232,7.585,7.817,7.817,0,0,1-1.173,4.143L7.323,24Z" transform="translate(487.5 341.5)" fill="#fff" stroke="#bcbccb" stroke-width="2"/>
            <g id="Ellipse_3" data-name="Ellipse 3" transform="translate(490.988 345.299)" fill="#bcbccb" stroke="#bcbccb" stroke-width="2">
              <circle cx="3.778" cy="3.778" r="3.778" stroke="none"/>
              <circle cx="3.778" cy="3.778" r="2.778" fill="none"/>
            </g>
          </g>
        </svg><span style="margin-left:10px;">{{country}}</span></h1>
      <div class="card">
            <div class="logoheader" *ngIf="!logo">
            <!-- <img src="{{Image}}"> -->
            <input type="file" #filePicker (change)="onImagePick($event,'companyLogo')" class="picker" style="display: hidden;" >
            <button type="submit" (click)="filePicker.click()" class="btn"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span><br/>
              Add Your Logo</button>
            </div>
            <div class="logoheader" *ngIf="logo">
                <img src="{{companyLogo}}">
                </div>
            <div class="user_profile">
                <h2>{{CompanyName}}</h2>
                <p>{{industry}}</p>
               <!-- <p> {{city}}</p>
               <p>{{companyEmail}}</p> -->
                <div class="follow-btn" *ngIf = "!myCompany">
                    <button>FOLLOW</button>
                    <span>24,255</span>
                </div>
                <div class="follow-btn" *ngIf = "myCompany">
                    <button (click) = "EditBpage()">Edit</button>

                </div>
              </div>
        </div>
        <div class="extraInfo">
          <!-- <p>9 A.M. - 5 P.M.</p> -->
          <button type="button" *ngIf= "!workingHours && !editworkingHours " (click) = "editworkingHours = true"><span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" style="fill:gray;padding: 1px 29px 0px 4px;" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span>Add Your Working Hours</button>
          <!-- <p>{{website}}</p> -->
          <p *ngIf = "workingHours && !editworkingHours">{{workingHours}}</p>
          <div *ngIf="editworkingHours">
            <input type="number"  placeholder="Enter Working Hours"  formControlName = "workingHours"  trim #workingHours >
            <button type="submit" (click) = "onEditBpage('workingHours', workingHours)">Save</button>
          </div>
          <button type="button" *ngIf="!website && !editWebsite" (click) = "!editWebsite" ><span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" style="fill:gray;padding: 1px 29px 0px 4px;" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span>Add YourWebsite</button>
          <a *ngIf="website && !editWebsite"  target="_blank">{{website}}</a>
          <div *ngIf="editwebsite">
            <input type="text"  placeholder="Enter Website"  formControlName = "website"  trim #website >
            <button type="submit" (click) = "onEditBpage('website',website)">Save</button>
          </div>

          <div class="social">
              <div class="social_links">
                  <!-- <span><img src="assets/images/linkdin.png"></span>
                  <span><img src="assets/images/linkdin.png"></span>
                  <span><img src="assets/images/linkdin.png"></span> -->
                  <button type="button"><span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" style="fill:gray;padding: 1px 26px 0px 1px;" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span>Add Social Links</button>
              </div>
              <div class="social_bookmark">
                  <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
              </div>
            </div>
        </div>
        </div>

            <!-- <div class="logoheader"></div>
      <h1>Company Ka Naam</h1>
      <div class="iandl">
          <h3>INDUSTRY</h3> <H3>LOCATION</H3>
      </div>
      <div class="follow-btn">
        <button>FOLLOW</button>
      </div>
      <div class="extraInfo">
      <p>9 A.M. - 5 P.M.</p>
      <p>www.elroute.com</p>
      <p>Bookmark</p>
      </div>
      <div class="social">

      </div> -->

      <div class="card-left">
        <!-- <div class="headerImg">
            <h3>CATEGORY</h3>

        <div class="img"></div>
        </div> -->
        <div class="headerImg" *ngIf="!img">
          <!-- <div class="img" [ngStyle]="{'background-image':getUrl(), 'background-size' : 'contain'}"> </div> -->
          <!-- <img src="assets/images/bk.png"> -->
          <input type="file"  #filePicker (change)="onImagePick($event,'Image')" class="picker testing-1911" style="display: hidden;"  visbility="hidden">
          <button type="button" (click)="filePicker.click()" class="btn"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span><br/>
            Cover Page</button>

      </div>
      <div class="headerImg" *ngIf="img">

         <img src="{{Image}}">

      </div>
        <div class="tabs">
        <div class="tab" (click)="showTwo()" [ngClass]="{'tabClicked': two}"><h1>INFO</h1></div>
        <div class="tab" (click)="showThree()" [ngClass]="{'tabClicked': three}"><h1>PRODUCTS</h1></div>
        <div class="tab" (click)="showFour()" [ngClass]="{'tabClicked': four}"><h1>CONTACT</h1></div>
        </div>
        </div>
</header>


<div class="body" *ngIf="this.type === 'default'">
  <div class="infoSection1">
      <div class="shortBio">
          <div class="bio" *ngIf = "!editshortIntro">
       <h2>SHORT BIO</h2>
       <!-- <p>{{shortIntro}}</p> -->
       <p *ngIf= "!shortIntro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       <p *ngIf= "shortIntro">{{shortIntro}}</p>
       <button type="button" (click)="editshortIntro = true"><span><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="fill:white;padding: 1px 29px 0px 4px;" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span>Add bio</button>
          </div>
          <div *ngIf = "editshortIntro">
          <textarea placeholder="Enter Bio" formControlName = "shortIntro" #shortIntro></textarea>
          <button type="submit" (click) = "onEditBpage('shortIntro',shortIntro)">Save</button>

        </div>
      </div>

        <div class="feedCards" *ngIf = "!noFeeds">
          <div class="feed" *ngFor = "let feed of feeds; let i = index">
            <div class="authorInfo">
            <div class="details">
              <div class="logo">
                <img src="https://picsum.photos/500/300/?random">
              </div>
              <div class="info">
             <h1>{{this.CompanyName}}</h1>
             <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;">{{this.industry}}</p>
             <p style="line-height: 3px;margin-bottom: 10px;">{{this.country}}</p>
            </div>
            </div>
            <div class="followBtn">
             <button>Following <span><svg xmlns="http://www.w3.org/2000/svg" width="19%" height="53%" fill="currentColor" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg></span></button>
             <p>34,342 followers</p>
            </div>
            </div>
            <div class="feedInfo">
              <p>{{feed.Content}} </p>
            </div>
            <div class="feed-img">
            <img src = {{feed.Image}}>
            </div>
            <div class="feed-share">
             <p  style="padding: 4px; margin: 0; display: flex;width: 100%;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg><span><b style="margin-left: 5px;">24,244</b></span></p>
             <p style=" padding: 0; margin:4px 0;     margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 15v4l8-8.035-8-7.965v4s-13.277 2.144-16 14c5.796-6.206 16-6 16-6z"/></svg></p>
             </div>
            <div class="tagged">
               <mat-expansion-panel>
                   <mat-expansion-panel-header style="background-color:#6E7892;">
                     <mat-panel-title>
                      <h4 style="  color: #fff">Tagged Products</h4>
                     </mat-panel-title>
                   </mat-expansion-panel-header>

                   <p>This is the primary content of the panel.</p>

                 </mat-expansion-panel>
            </div>
            </div>

        </div>
       <div  class="feedCards" *ngIf = "noFeeds">
        <h1 style="text-align: center">No Feeds To Show</h1>
       </div>

       <div class="otherInfocard">
        <div class="infoCard">
        <div class="hq info">
          <label>HEADquarters</label>
          <h3>{{country}} , {{city}}</h3>
        </div>
        <div class="estd info">
            <label>year estd.</label>
            <h3>{{yearEstd}}</h3>
          </div>
          <div class="estd info">
              <label>size</label>
              <h3>{{companySize}}</h3>
            </div>
            <div class="add info">
                <label>office address</label>
                <h3>{{address}}</h3>
              </div>
              <div class="revenu info" style="border-bottom:none">
                  <label>Total Revenue</label>
                  <h3>50-100</h3>
                </div>
        </div>
       </div>
  </div>
</div>
<div class="body" *ngIf="this.type === 'info'">
  <div class="infoSection2">
    <div class="infoImg" *ngIf="!infoImg">
       <img src="{{infoImage}}"> 
      <input type="file"  #filePicker (change)="onImagePick($event,'infoImage')" class="picker" style="display: hidden;"  visbility="hidden">
          <button type="button" (click)="filePicker.click()" class="btn"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></span><br/>
            Info Image</button>
          </div>
          <div class="infoImg" *ngIf="infoImg">
              <img src="{{infoImage}}"> 
                 </div>
        
    <div class="infoContent">
      <h3>SHORT BIO  <span  class="bio_btn" (click)="editbio()"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15 " viewBox="0 0 24 24" ><path d="M18.311 2.828l2.862 2.861-15.033 15.032-3.583.722.723-3.584 15.031-15.031zm0-2.828l-16.873 16.872-1.438 7.127 7.127-1.437 16.874-16.873-5.69-5.689z"/></svg></span></h3>
      <p>{{shortIntro}}</p>
    </div>
  <!---s <div class="infoContent" *ngIf="!bioEdit">
        <textarea formControlName="shortIntro">{{shortIntro}}</textarea>
        <button type="submit" (click) = "onEditBpage('shortIntro',shortIntro)">Save</button>
      </div>
    -->
<div class="infoSectonCard">
    <div class="content">
        <div class="Sectioncontent">
        <h2>SECTION TITLE</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem </p>
        </div>
        </div>
  <img src="assets/images/bk.png">

</div>
<div class="certificate">
  <h2>CERTIFICATES</h2>
  <div ng2-carouselamos class="slider-wrapper"
  [items]="items"
  [$prev]="prev"
  [$next]="next"
  [$item]="item"
  ></div>
<ng-template #prev>
  <img src= "../../../assets/images/left-arrow.png">
</ng-template>
<ng-template #next>
    <img src= "../../../assets/images/right-arrow.png">
  </ng-template>
  <ng-template #item let-item>
     <div class="items">
        <img src="{{ item.name }}">
     </div>
    </ng-template>
  </div>
  <div class="companyImg">
      <h2>COMPANY IMAGES</h2>
      <div ng2-carouselamos class="slider-wrapper"
      [items]="items"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
      ></div>
    <ng-template #prev>
      <img src= "../../../assets/images/left-arrow.png">
    </ng-template>
    <ng-template #next>
        <img src= "../../../assets/images/right-arrow.png">
      </ng-template>
      <ng-template #item let-item>
         <div class="items">
            <img src="{{ item.name }}">
         </div>
        </ng-template>
      </div>
  </div>
</div>
<div class="body" *ngIf="this.type === 'product'">
  <div class="infoSection3">
    <div class="productAddbutton" *ngIf = "myCompany"><button routerLink= "/productForm">ADD New Product</button></div>
      <!-- <div *ngFor= "let product of products; let i = index;" class="conatiner">
          <h1>GROUP {{i + 1}}</h1>
          <div class="productConatiner" [ngClass]= "{'expand': expand[i]}" > -->
              <div class="Card" *ngFor="let product of products; let i = index">
                  <div class="productCard">
                <div class="productImage">
                  <img src="https://picsum.photos/200/300/?random">
                </div>
                <div class="productContent" >
                <div class="content">
                    <button (click)="DeleteProduct(product._id)">Delete</button>
                <div class="productCategory">
                <h6>{{product.catogory}}</h6>
                </div>
                <div class="productName">
                  <h2 routerLink = "/product-page/{{product._id}}">{{product.productName}}</h2>
                  <h5>{{product.company}}</h5>
                  <button (click)="editProduct(product._id)">Edit</button>
                  <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 4px">{{product.category}}</span><span style= "padding-left: 8px">Country</span></small>
                </div>
                <div class="discription" style="margin-top:30px;">
                <p>{{product.shortDescription}}</p>
                </div>
                <div class="tags">

                </div>
                <div class="other-info">
                  <div class="price">
                  <h4>{{product.price}} {{product.minPrice}}</h4>
                </div>
                <div class="hits">
                  <p>24,354 hits</p>
                </div>
                </div>
                </div>
                </div>
                  </div>
                </div>

              <!-- <div class="mob-cards" *ngIf="three">
                  <div class="card-wrapper" *ngFor="let card of group.card; let i = index" >
                      <div class="header">
                          <div class="header-content" style="width:95%; display: flex">
                            <h5 style="width:100%;">Product</h5>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" style="margin-left: 6px;" height="24" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                        </div>
                        <div class="header-content" style="width:95%; display: flex" *ngIf="false">
                            <h5 style="width:50%;">Service</h5>
                            <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
                        </div>
                      </div>

                    <div class="img-banner"><img src="https://images.unsplash.com/photo-1543872981-578a0310c83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>

                    <div class="main-content">
                      <div class="content-details">
                        <p>Something is here Some of the contnet</p>
                      </div>
                    </div>
                    <div class="footer">
                      <div class="footer-content" style="width:95%; border-top:1px solid #ccc; display: flex">
                        <h6 style="width:35%;">Price</h6>
                        <h6  style="float:right;justify-content: flex-end; display: flex; width: 65%; text-align: right" >23,445 hits</h6>
                    </div>
                  </div>

              </div>

              <div class="card-wrapper">
                  <div class="header">
                      <div class="header-content" style="width:95%; display: flex">
                        <h5 style="width:100%;">Product</h5>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" style="margin-left: 6px;" height="24" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                    </div>
                    <div class="header-content" style="width:95%; display: flex" *ngIf="false">
                        <h5 style="width:50%;">Service</h5>
                        <h5  style="float:right;justify-content: flex-end; display: flex; width: 50%; text-align: right" >Bookmark</h5>
                    </div>
                  </div>

                <div class="img-banner"><img src="https://images.unsplash.com/photo-1543872981-578a0310c83a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>

                <div class="main-content">
                  <div class="content-details">
                    <p>Something is here Some of the contnet</p>
                  </div>
                </div>
                <div class="footer">
                  <div class="footer-content" style="width:95%; border-top:1px solid #ccc; display: flex">
                    <h6 style="width:35%;">Price</h6> -->
</div>
</div>
</section>