section{
  width: 90%;
  margin: 0 auto;

}
header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 30%;

}
.card h1{
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.iandl{
width: 60%;
margin: 0 auto;
display: flex;
}
.iandl h3{
  width: 48%;
  text-align: center;
  margin: 0;
}
.follow-btn{
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
.follow-btn button{
  width: 100%;
  height: 50px;
  border: none;
  color: #fff;
  background-color: #333333;
  font-size: 20px;
}
.extraInfo{
  width: 80%;
  margin: 0 auto;

}
.social{
  width: 60%;
  height: 40px;
  margin: 0 auto;
  background-color: cadetblue;
  margin-bottom: 20px;
}
.card-left{
  width: 70%;
  height:52vh;

}
.card-left h3{
  font-weight: 400;
  margin: 0;
  padding-top: 20px;
}
.headerImg{
  width: 100%;
  height: 34vh;
  background-color: #fff;
  display: flex;
}
.logoheader{
  width: 10%;
  height: 20%;
  background-color: darkseagreen;
  position: absolute;
  top:50px;
  left: 35%;
}
.img{
  width: 100%;
  height: 100%;
  background-color: darkgreen;
  margin-left: 5%;
}
.img img{
  width: 100%;
  height: 100%;
}
.tabs{
  width: 100%;
  margin-top: 3vh;
  height: 15vh;
  display: flex;
}
.tab{
  height: 100%;
  width: 30%;
  background-color: crimson;
  margin-left: 5%;
  margin-right: 0%;
  transition: .2s;
}
.tabClicked{
  height: 150%;
  transition: .2s;
}
.tab h1{
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}
.body{
  width: 100%;
  display: flex;
  height: 1000vh;
  margin-top: 50px;
  background-color: red;
}
.infoSection1{
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}
.shortBio{
  width: 27%;

  height: fit-content;
}
.bio{
  width: 90%;
  margin: 0 auto;

}
.bio h2{
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.feed{
  width: 38%;
  height: 490px;
  display: block;
  margin-right: auto;
  border: 1px solid #cccccc;
  margin-right: 4%;
  margin-left: 3%;
}
.authorInfo{
width: 100%;
display: flex;
}
.details{
  width: 70%;
  height: auto;
  display: flex;
}
.logo{
  width: 20%;
  height: 100%;
  background-color: black;
}
.logo img{
  width: 100%;
  height: 100%;
}
.details h1{
  margin: 0;
  padding: 5px 0 0 15px;
  font-weight: 500;
  font-size: 20px;
}
.details p{
  padding: 0px 0 0 15px !important;
  font-size: 10px;
}
.feedInfo {
  width: 95%;
  margin: 0 auto;
  height: 15%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 5px 5px 0 0;
  margin-top: 20px;
}
.feedInfo p{
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
}
.followBtn{
  width: 25%;
  height: auto;
  float: right;
  text-align: right;
}
.followBtn button{
  width: 80%;
  margin-top: 10px;
  background-color: green;
  color: #ffffff;
  font-weight: 600;
  height: 25px;
  border-radius: 15px;
  border:none;
  margin-left: 10px;
}
.followBtn p{
  align-items: baseline;
  text-align: right;
  margin-right: 10px;
  margin-bottom:  0;
  font-size: 10px;
}
.feed-img{
  width: 100%;
  height: 60%;
}
.feed-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.feed-share{
  width: 100%;
  height: 7%;
  display: block;
}
.tagged{
  width: 100%;
  height: 7%;
}
mat-expansion-panel{
  border-radius: 0 !important;
  background-color: #707070;

}
mat-expansion-panel{
  /* box-shadow: 0 0 0 0!important; */
}
.tagged mat-expansion-panel-header{
  height: 35px !important;
  color: #ffffff !important;
}
mat-panel-title h4{
  margin: 0;
  font-size: 14px;
  font-weight: 100;
}
@media screen and (max-width:700px){
  .company_industry,.login_user{
    display: none;
  }
  .with_login{
    width: 100%;
    margin: 0px;
    padding-top: 18%;
  }
  .feeds{
    width: 100%;
    padding: 0px;
  }
  .add_media h2{
    font-size: 15px;
    margin-top: -5px;
  }
  .add_media span{
    font-size: 10px;
  }
  .add_feed {
    font-size: 11px;
    width: 12%;
  }
  section{
    width: 95%;
  }
  .followBtn button{
    width: 100%;
    font-size: 8px;
  }
  .followBtn p{
    margin-right: 0;
  }
  .details h1{
    font-size: 15px;
  }
  .details p{
    font-size: 8px;
  }
  .feedInfo p{
    font-size: 10px;
    line-height: 15px;
  }
  mat-panel-title h4{
    font-size: 11px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px){

  .login_user{
  width: 26%;
  }
  .user_name h2
{
  font-size: 15px;
  color: #FAF6F6;
  margin-top: -2px;
  float: left;
}
  .company_industry{
    width: 25%;
    }
  .feeds{
    width: 48%;
    padding: 0px;
  }
  .add_media h2{
    font-size: 15px;
    margin-top: -5px;
  }
  .add_media span{
    font-size: 10px;
  }
  .add_feed {
    font-size: 15px;
    width: 21%;
  }
  section{
    width: 95%;
  }
  .followBtn button{
    width: 100%;
    font-size: 8px;
  }
  .followBtn p{
    margin-right: 0;
  }
  .details h1{
    font-size: 15px;
  }
  .details p{
    font-size: 8px;
  }
  .feedInfo p{
    font-size: 10px;
    line-height: 15px;
  }
  mat-panel-title h4{
    font-size: 11px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1440px){
  .with_login{
    width: 85%;
  }
}
.otherInfocard{
  width: 30%;
  height: 10vh;
}
.infoCard{
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.info{
  border-bottom: 1px solid #ccc;
}
label{
  font-size: 12px;
  text-transform: uppercase;
}
.info h3{
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-weight: 500;
  color: black;
}
/* <-------------------------------------------------------------body 2-------------------------------------------------------------------> */
.infoSection2{
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}
.infoImg{
  width: 100%;
  height: 55vh;
  background-color: green;
}
.infoImg img{
  width: 100%;
  height: 100%;
}
.infoContent h3{
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 20px 0;
}
.infoContent p{
  width: 70%;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 15px;
  line-height: 22px;
}
.infoSectonCard{
  width: 90%;
  margin: 0 auto;
  background-color: aqua;
  margin-top: 40px;
  min-height: 45vh;
  display: flex;
}
.infoSectonCard img{
  width: 55%;
  background-color: beige;
  margin-right: 5%;
}
 .content{
  width: 30%;
  background-color: yellow;
}
.Sectioncontent{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
