<section>
<header>
<div class="card">
<h1>Company Ka Naam</h1>
<div class="iandl">
    <h3>INDUSTRY</h3> <H3>LOCATION</H3>
</div>
<div class="follow-btn">
  <button>FOLLOW</button>
</div>
<div class="extraInfo">
<p>9 A.M. - 5 P.M.</p>
<p>www.elroute.com</p>
<p>Bookmark</p>
</div>
<div class="social">

</div>
</div>
<div class="card-left">
<div class="headerImg">
    <h3>CATEGORY</h3>
    <div class="logoheader"></div>
<div class="img"></div>
</div>
<div class="tabs">
<div class="tab"><h1>INFO</h1></div>
<div class="tab"><h1>PRODUCTS</h1></div>
<div class="tab"><h1>CONTACT</h1></div>
</div>
</div>
</header>
<div class="body">
  <div class="infoSection">
      <div class="shortBio">
          <div class="bio">
       <h2>SHORT BIO</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
         </div>

         <div class="feed">
             <div class="authorInfo">
             <div class="details">
               <div class="logo">
                 <img src="https://picsum.photos/500/300/?random">
               </div>
               <div class="info">
              <h1>Company Name</h1>
              <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;">Industry</p>
              <p style="line-height: 3px;margin-bottom: 10px;">Location</p>
             </div>
             </div>
             <div class="followBtn">
              <button>Following</button>
              <p>34,342 followers</p>
             </div>
             </div>
             <div class="feedInfo">
               <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content </p>
             </div>
             <div class="feed-img">
             <img src="https://picsum.photos/500/300/?random">
             </div>
             <div class="feed-share">
             <p  style="padding: 0; margin: 0;">Bookmark</p>
             <p style="float:right; padding: 0; margin: 0; margin-top: -18px;">Share</p>
             </div>
             <div class="tagged">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <h4 style="  color: #fff">Tagged Products</h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>This is the primary content of the panel.</p>

                  </mat-expansion-panel>
             </div>
             </div>
       <div class="otherInfocard">
        <div class="infoCard">
        <div class="hq info">
          <label>HEADquarters</label>
          <h3>LOCATION</h3>
        </div>
        <div class="estd info">
            <label>year estd.</label>
            <h3>2016</h3>
          </div>
          <div class="estd info">
              <label>size</label>
              <h3>50-100</h3>
            </div>
            <div class="add info">
                <label>office address</label>
                <h3>50-100</h3>
              </div>
              <div class="revenu info" style="border-bottom:none">
                  <label>Total Revenue</label>
                  <h3>50-100</h3>
                </div>
        </div>
       </div>
  </div>
</div>
</section>
