<div class="sigup-form">
  <h2>
    SIGN UP
  </h2>
  <p>Register and step into the business world</p>
  <form [formGroup]= "signupForm" (ngSubmit)="onSubmit()" >
    <ul>
   <li>
  <div class="first-field">
    <div class="Uname">
    <input type="text" placeholder="NAME" formControlName="UserName" name="UserName" [ngClass]="{'error': !signupForm.get('UserName').valid && signupForm.get('UserName').touched }">
    <!-- <span *ngIf="!signupForm.get('UserName').valid && signupForm.get('UserName').touched" class="errorMsg"><p>Please Enter Company</p></span> -->
    </div>
    <div class="Ulocation">
      <select formControlName="Location" name="Location" [ngClass]="{'error': !signupForm.get('Location').valid && signupForm.get('Location').touched }">
        <option>LOCATION</option>
      </select>
    </div>
  </div>
</li>
<li class="form-elements"><input type="text" placeholder="TITLE"  formControlName="Title" name="Title" [ngClass]="{'error': !signupForm.get('Title').valid && signupForm.get('Title').touched }"></li>

<li class="form-elements"><input type="email" placeholder="EMAIL ADDRESS" formControlName="Email" name="Email" [ngClass]="{'error': !signupForm.get('Email').valid && signupForm.get('Email').touched }" ></li>
<!-- <li class="form-elements"><input type="password" placeholder="PASSWORD" formControlName="Password" name="Password" [ngClass]="{'error': !signupForm.get('Password').valid && signupForm.get('Password').touched }" ></li> -->
<li class="form-elements"><input type="text" placeholder="Facebook Link"  formControlName="Title" name="Title"></li>
<li class="form-elements"><input type="text" placeholder="LinkedIn Link"  formControlName="Title" name="Title"></li>
<li class="form-elements"><input type="text" placeholder="Twitter Link"  formControlName="Title" name="Title"></li>
<!-- <li><div class="terms" style="display: flex; width: 100%;margin-top: 20px;margin-left: -50px; ">
    <input type="checkbox" style="height: 2vh; padding: 0; margin: 0;width: 10%">
  </div></li> -->
</ul>
<button type="submit">Save Changes</button>
  </form>
