<app-header></app-header>

<app-s-page-header-search></app-s-page-header-search>
<app-s-page-header></app-s-page-header>
<section>
<div class="listing">
    <div *ngIf = "!result.length" class="result_not_found">
        <img src = "../../../assets/images/result_not_found.png">
      </div>
<div class="companyCard" *ngFor="let r of result[0]; let i=index">
<div class="cardHeader">
  <div class="logo"  routerLink = "/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}">
   <img src="{{r.companyLogo}}">
  </div>
  <div class="companyInfo">
    <div class="follow">
    <h1  routerLink = "/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}">{{r.companyName}}</h1>
    <div class="b_page_btn">
            <button  (click)= "companyBookmark(i ,r._id)"  *ngIf = "!this.cresult[i].bookm else bloading"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 2v17.582l-4-3.512-4 3.512v-17.582h8zm2-2h-12v24l6-5.269 6 5.269v-24z"/></svg></span></button>
            <ng-template #bloading>
                <button (click)="deletecompanyBookmark(i,r._id)"><span><svg xmlns="http://www.w3.org/2000/svg" style="fill:green;" width="24" height="24" viewBox="0 0 24 24"><path d="M18 24l-6-5.269-6 5.269v-24h12v24z"/></svg></span></button>
            </ng-template>
          </div>

          <div class="b_page_btn" *ngIf="!this.token">
            <button  (click)= " openLogin()"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 2v17.582l-4-3.512-4 3.512v-17.582h8zm2-2h-12v24l6-5.269 6 5.269v-24z"/></svg></span></button>
          </div>
      </div>
    <p><span style="padding: 0 10px 0 0;border-right: 1px solid #ccc" >{{r.location}}</span> <span style="padding: 0 0 0 10px;">Industry</span></p>
    <div class="b_page_btn1" *ngIf="this.token">
        <button  (click)="onunfollow(i,r._id)"  *ngIf = "this.cresult[i].follow else loading">Following</button>

        <ng-template #loading>
            <button (click)="onfollow(i,r._id)" >Follow</button>
        </ng-template>
      </div>
      <div class="b_page_btn1" *ngIf="!this.token">
            <button (click)="openLogin()" >Follow</button>

      </div>
  </div>

  <div class="storyBtn">
  <button routerLink = "/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}"> Know Our Story</button>
  </div>

</div>
<div class="discription">
  <p>{{r.shortBio}}</p>
</div>
<mat-accordion  class="des">

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header  class="speci" style="background-color:#F5F5F5;">
        <mat-panel-title>
            <h2 >Description</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="speci_1"  >
        <div class="speci_details">
            <p>{{r.shortBio}}</p>

        </div>
        </div>
    </mat-expansion-panel>

  </mat-accordion>
<div class="cardFooter">
<div class="icons">
    <span><img src="assets/images/google_icon.png"></span>
    <span  routerLink = "/companyPage/{{r._id}}" [queryParams]= "{urltype:'contact'}"><img src="assets/images/contact1.png"></span>
</div>
</div>
</div>
<div *ngIf="!result">
  <img src="../../../assets/images/result_not_found.png">

</div>

</div>

</section>

