.search-bar{
  width: 95%;
  display: flex;
}
.search-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 120px;
  z-index: -1;
}


input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 13vh;
  padding: 0px 45px;
  font-size: 3rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}
input#search-bar:focus {
  transition: 0.35s ease;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  top: -62px;
  right: 15px;
}
.search-container button{
  position: relative;
  padding: 0;
  margin: 0;
  height: 13.3vh;
  width: 120px;
  border: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}
.search-container button select {
  width: 120px;
  margin-right: 10px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  outline: none;
  border-radius: 0 20px 20px 0;
  padding: 0 40px;
  font-size: 16px;
}
.toggleBtn{
  position: relative;
  padding: 0;
  margin: 0;
  width: 120px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0 !important ;
  margin-right: -40px !important;

}
.filter{
  width: 100%;
  height: 7vh;
  background-color: royalblue;
  margin-top: 30px;
}
section{
  width: 65%;
  margin: 0 auto;
  /* height: 100vh; */
  margin-top: 30px;
}
.listing{
  width: 100%;
  height: auto;
}
.companyCard{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 1%;
}
.cardHeader{
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.logo{
  height: auto;
}
.logo img{
  width: 120px;
  height: 120px;
  padding: 5px 0 0 0;
  border-radius: 50%;
}
.companyInfo{
  width: 65%;
  margin-left: 10px;
}
.companyInfo h1{
  margin: 0;
  padding: 5px 0 0 0;
}
.b_page_btn1 button{
  
  border: solid 1px #707070;;
  border-radius: 10px;
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  background-color: #F9FDFA;
}
.b_page_btn button
{
  background-color: transparent;
  border:none;  
  margin-top: 16%;
}
.b1 img
{ 
  width: 15px;
    margin-left: 20px;

}
.follow
{
  display: flex;
}
.storyBtn{
  width: 30%;
  margin-left: 5%;
  margin-top: 1%;
}
.storyBtn button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: 800;
  color: #707070;
  font-size: 17px;
  background-color: #FFFFFF;
  border: solid 1px #707070;

}

.discription{
  width: 94%;
  margin: 0 auto;
}
.discription p{
  width: 80%;
  color: #707070;
  font-weight: 600;
}
.cardFooter{
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.tags{
  width: 100%;

}
/* .tags p{
  margin: 0;
  padding: 0px 0 15px 0;
} */
.tags span
{
  border: solid 1px black;
    padding: 0px 48px;
    border-radius: 20px;
    margin: 1%;
}
.icons{
  
  display: flex;
}
.icons span
{
  margin: -9% 1% 1%;
}
.icons img
{
  width: 80%;
}
.icons p{
  margin: 0;
  padding: 0px 0 15px 0;
}
.des
{
  display: none;
}
.result_not_found
{
  width: 85%;
  margin: 0 auto;
}
.result_not_found img
{
width: 100%;
}
@media screen and (max-width: 700px){
  section{
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 7%;
  }
  .companyCard {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 13px;
 

}
.storyBtn {
  display: none;
}
.companyInfo h1 {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 16px;
}
.b1{
  float: right;
  margin-left: 29px;
}
.discription
{
  display: none;
}
.des
{
  display: block;
}
.cardFooter
{
  display: none;
}
.companyInfo  button{
  width: 27%;
  height: 25px;
  border: none;
  border-radius: 10px;
}
.result_not_found
{
  width: 95%;
}
.result_not_found img
{
width: 100%;
}

}
@media screen and (min-width: 767px) and (max-width: 1024px){
  section{
    width: 90%;
    margin: 0 auto;

    margin-top: 30px;
  }
  .storyBtn{
    width: 26%;
    margin-left: 5%;
    margin-top: 20px;
}
}
.bookmark{
  position: absolute;
   margin-left: 10%;
   font-size: 13px;
   width: 20px;
   height: 20px;
   padding-top: 4px;
   background-color: red;
}
.unbookmark{
  background-color: black;
}