
<div class="tabs">
  <div class="tab" routerLinkActive="activate" routerLink = "/company-edit/general">
      <a> GENERAL
       </a>
  </div>
  <div class="tab" routerLinkActive="activate" routerLink = "/company-edit/basic-details">
      <a> BASIC DETAILS
      </a>
  </div>
  <div class="tab" routerLinkActive="activate" routerLink = "/company-edit/market">
      <a> MARKET
      </a>
  </div>
  <div class="tab" style="border:none;" routerLinkActive="activate" routerLink = "/company-edit/contact" >
      <a> CONTACT
      </a>
  </div>

</div>
  <!------------------------------- mobile code ---------------------------------->
  <div class="header">
        <div class="headerElements">
        <div class="elements" routerLink = "/company-edit/general" routerLinkActive="activate"><h4>GENERAL</h4></div>
        <div class="elements" routerLink = "/company-edit/basic-details" routerLinkActive="activate"><h4>BASIC DETAILS</h4></div>
        <div class="elements"  routerLink = "/company-edit/market" routerLinkActive="activate"><h4>MARKET</h4></div>
        <div class="elements"  routerLink = "/company-edit/contact" routerLinkActive="activate"><h4>CONTACT</h4></div>
        </div>
      
          </div>
          <!------------------------------- mobile code ---------------------------------->

