
<div class="tabs">
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-form2"> GENERAL
       </a>
  </div>
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-form3"> BASIC DETAILS
      </a>
  </div>
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-form4"> MARKET
      </a>
  </div>
  <div class="tab" style="border:none;" routerLinkActive="activate">
      <a routerLink = "/company-form5" > CONTACT
      </a>
  </div>
</div>
