
<div class="tabs">
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-edit/general"> GENERAL
       </a>
  </div>
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-edit/basic-details"> BASIC DETAILS
      </a>
  </div>
  <div class="tab" routerLinkActive="activate">
      <a routerLink = "/company-edit/market"> MARKET
      </a>
  </div>
  <div class="tab" style="border:none;" routerLinkActive="activate">
      <a routerLink = "/company-edit/contact" > CONTACT
      </a>
  </div>

</div>
  <!------------------------------- mobile code ---------------------------------->
  <div class="header">
        <div class="headerElements">
        <div class="elements" routerLink = "/company-edit/general" routerLinkActive="activate"><h4>GENERAL</h4></div>
        <div class="elements" routerLink = "/company-edit/basic-details" routerLinkActive="activate"><h4>BASIC DETAILS</h4></div>
        <div class="elements"  routerLink = "/company-edit/market" routerLinkActive="activate"><h4>MARKET</h4></div>
        <div class="elements"  routerLink = "/company-edit/contact" routerLinkActive="activate"><h4>CONTACT</h4></div>
        </div>
      
          </div>
          <!------------------------------- mobile code ---------------------------------->

