
.header_text
{
  display: flex;
  justify-content: center;
  background-color: black;

  width: 100%;
}
.header_text h2
{
  color: white !important;
  cursor: pointer;
}
.error_page
{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.error_text
{
  display: flex;
  justify-content: center;
}
.error_button
{
  display: flex;
  justify-content: center;
}
.error_button button{
  background-color: black;
  border: none;
  font-weight: 600;
  color: white;
  padding: 8px;
  border-radius: 2px;
}