
<form [formGroup] = "GroupForm" (ngSubmit) = "onSubmit()">
<div *ngIf = "this.productService.key" class="group_name">
  <label>Group Name</label>
  <input type="text" formControlName = "groupName" value="{{this.productService.key}}" disabled="disabled">

</div>
<div *ngIf = "!this.productService.key" class="group_name">
    <label>Group Name</label>
  <input type="text" formControlName = "groupName" placeholder="Enter Group Name">
  </div>
  <hr>
  <div class="show_group_product">
<div *ngFor = "let product of products" class="product_name_img">
  <div class="product_name">
      <img src="{{ product.Image }}">
  <h4>{{product.productName}}</h4>
 
   <input type="checkbox" (click)="getGroupproduct(product._id)">
  </div> 
</div>
</div>
<hr>
<button>Submit</button>
</form>
