
.group_name
{
    margin-top: 1%;
    padding: 10px;
}
.group_name label
{
    font-size: 25px;
}
.group_name input
{
    width: 35%;
    font-size: 15px;
    padding: 10px;
    margin-left: 1%;
}
.product_name_img 
{
    display: flex;
    border: solid 1px gray;
    margin: 10px;
    width: 31%;
    flex-wrap: wrap;
    height: 100px;
}
.product_name_img img
{
    width: 100px;
    height: 100px;
}
.show_group_product
{
    display: flex;
    flex-wrap: wrap;
}
.product_name
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.product_name h4
{
    /* margin: 10px; */
    margin-bottom: auto;
    margin-top: auto;
}
button
{
    float: right;
    margin-right: 4%;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 1%;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    width: 15%;
}
.remove_product
{
  float: right;
  position: relative;
  border: none;
  top: 3.5px;
  width: 0% ! important;
  background-color: transparent;
  /* left: -24.3px; */
  margin-bottom: 0;
  outline: none;

}
.remove_product svg
{
  background-color:white;
 /* fill: #ef0707; */
 width: 18px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .group_name input {
        width: 50%;
        border: solid 1px gray;
    }
    .group_name label {
        font-size: 20px;
    }
.product_name_img{

    width: 93% !important;
    overflow-y: scroll;
  
  }
  button
  {
  
      width: 32%;
  }
}