.product_detalis
{
    padding-top:1%;
    margin-left: 5%;
    margin: 0 auto;
    width: 85%;
}
.product
{
    padding: 10px 20px;
    background-color: #f5f2f2;
    width: 35%;
    float: left;
    position: fixed;
}
.product_1
{
    font-size:15px;
}

.product_1 li
{
   display: inline;
   font-family:  Segoe UI regular ;
   color: #707070;
}
.product_1 a
{

    text-decoration:none;
    color:#707070;

}

.service2
{

    padding: 0 24px 48px 20px;

      box-shadow: 0 5px 5px rgba(25,25,25,0.2);
      background-color: white;
      height: 40vh;
}

.service2 p img
{
    float: right;
    margin-top: -9px;
    width: 7%;
}
.service2 p
{
    font-family:  Segoe UI regular ;
    padding-top: 20px;
	
    font-size: 18px;
    color: #707070;
    display: flex;
    float: right;

}
.service2_img
{
  padding: 20px 0;
}

.service2_img img
{
height: 40vh;
   width:100%;
    box-shadow: 0 5px 5px rgba(25,25,25,0.2);

}
.tags
{
    width: 98%;
    margin-top: 10px;
}
.tags li
{

    font-size: 20px;
    margin: 6px;
    display: inline;

}
.tags li img
{

    margin: 5px ;
    width: 20px;
}
.contact
{
    text-align: right;
}
.contact span
{
    font-size:20px;
    margin-left:20px;
    border:solid 1px gray;
    padding: 0px 15px;
    color:#707070;
    border-radius: 8px;

}
.contact img
{
    position: absolute;
    width: 45px;
    margin: -9px -9px;
}
.USA_1 li
{
    color: #707070;
    display: inline;
    font-size:150%;
}
.Description_box
{
  position: relative;
  left: 49%;
    width: 48%;
    float: left;
   /* margin-left:2%; */
   font-family:  Segoe UI regular ;
}
.des_box
{
    padding: 0px 60px;
    font-family: Segoe UI, Regular;
    background-color: #F5F5F5;



}
.des_box h2
{

  color: #707070;
  font-size: 25px;
  font-weight: 400;
  padding-top: 15px;


}

.des_box p
{
    color: #707070;
    font-size: 20px;
    border-top: solid 1px gray;

    padding : 20px 0 30px;
    font-family: Segoe UI, Regular;
}
.speci
{
    padding: 7px 70px;
    font-family: Segoe UI, Regular;
    background-color: whitesmoke;
}
.speci span
{
    padding: 7px 40px;
    border-bottom:solid 1px gray;
    width: 92%;
    border-top:solid 1px gray;
    color: #707070;
    font-size: 25px;
    float: left;


}
.speci_1
{
    padding: 7px 70px;
    background-color: white;
    width: 100%;
    display: flex;
}
.speci_details
{
  width: 32%;
    float: left;
    margin: 0 10px;
}
.speci_details p
{
  margin-bottom: a;
  margin-top: auto;
}
.speci h2
{
    font-weight: 400;
    color: #707070;
}
section{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  .feed{
    width: 100%;
    height: 490px;
    display: block;
    margin-right: auto;
    /* border: 1px solid #cccccc; */
  }
  /* .authorInfo{
  width: 100%;
  display: flex;
  }
  .details{
    width: 70%;
    height: auto;
    display: flex;
  }
  .logo{
    width: 20%;
    height: 100%;
    background-color: black;
  }
  .logo img{
    width: 100%;
    height: 100%;
  }
  .details h1{
    margin: 0;
    padding: 5px 0 0 15px;
    font-weight: 500;
    font-size: 20px;
  }
  .details p{
    padding: 0px 0 0 15px !important;
    font-size: 10px;
  }
  .feedInfo {
    width: 95%;
    margin: 0 auto;
    height: 15%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px 5px 0 0;
    margin-top: 20px;
  }
  .feedInfo p{
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .followBtn{
    width: 25%;
    height: auto;
    float: right;
    text-align: right;
  }
  .followBtn button{
    width: 80%;
    margin-top: 10px;
    background-color: green;
    color: #ffffff;
    font-weight: 600;
    height: 25px;
    border-radius: 15px;
    border:none;
    margin-left: 10px;
  }
  .followBtn p{
    align-items: baseline;
    text-align: right;
    margin-right: 10px;
    margin-bottom:  0;
    font-size: 10px;
  }
  .feed-img{
    width: 100%;
    height: 60%;
  }
  .feed-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .feed-share{
    width: 100%;
    height: 7%;
    background-color: burlywood;
    display: block;
    display: flex;
  /* } */
  /* .tagged{
    width: 100%;
    height: 7%;
  }
  mat-expansion-panel{
    border-radius: 0 !important;
  
  }

  .tagged mat-expansion-panel-header{
    height: 35px !important;
    color: #ffffff !important;
  }
  mat-panel-title h4{
    margin: 0;
    font-size: 14px;
    font-weight: 100;
  } */ 


.main_feed_card {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 4%;
}

.feed1 {
  display: flex;
}

.feed_content {
  border-radius: 10px;
  width: 100%;
  /* box-shadow: 0px 3px 6px 0px rgba(25, 25, 25, 0.2); */
  box-shadow: 0px 1px 8px 1px rgba(25, 25, 25, 0.2);

}

.feed_header {
  display: flex;
}

.feed_logo {
  width: 18%;
  padding: 5px 5px;
}

.feed_logo img {
  width: 60px;
  padding: 5px 4px 0px 3px;
  height: 60px;
}

.feed_name {
  width: 90%;
  margin-top: 4%;
  margin: 9px 9px;

}

.feed_name h4 {
  margin-bottom: auto;
  margin-top: auto;
}

.feed_name p {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 13px;
}

.feed_name h6 {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.feed_following {
  margin-top: 4%;
  /* width: 20%; */
  margin-right: 2%;
}

.feed_following button {
  background-color: lightgreen;
  border: none;
  display: flex;
  color: white;
  width: 100%;
  height: 5vh;
  font-weight: 900;
  border-radius: 10px;
  outline: none;
}

.feed_following p {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  margin-top: 10%;
}

.feed_img img {
  width: 100%;
  /* height: 50vh; */

}

.tagged_product {
  display: flex;
  align-items: center;

}

.tagged_product_img {
  width: 55%;
  padding: 8px 20px 0 0;
}

.tagged_product_img img {
  width: 100%;
  border: solid 1px gray;
  /* padding: 9px; */
}
.tagged_product_text
{
  width: 100%;
}
.container1 {
  position: relative;
  width: 100%;
  overflow: hidden;

}



.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.8);

}

.container1 img {
  transition: transform 0.3s ease-in-out;
}

.container1:hover .overlay1 {
  opacity: 1;
}

.container1:hover img {
  transform: scale(1.2);
}

.feed_text {
  margin: 0 auto;
  width: 85%;
  padding-top: 8%;
}


.feed_text p {
  color: white;
  font-size: 20px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 18px;
}

.feed_text a {
  color: #78aece;
  text-decoration: none;
  padding: 22px;
  font-size: 20px;
}

.bookmark_share {
  display: flex;
  padding-top: 15%;
  margin: 0 auto;
  width: 77%;

}

.bookmark_feed {
  display: flex;
  width: 100%;
}

.bookmark_feed span {
  margin: 0px 8px 0 0;
}

.bookmark_feed p {
  color: white;
  font-size: 22px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
}
.header
{
  margin:0 auto;
  width: 85%;
  border-bottom: solid 1px;
  display: flex;

}
  .header_left
  {
    display: flex;
    width: 100%;
  }
  .company_logo
  {
    width: 7%;
    margin: 0px 10px 0 0;

  }
  .company_logo img
  {
    width: 100%;
  }
  .company_name h2
  {
    margin-bottom: auto;
    font-weight: 400;
    margin-top: auto;
  }
  .header_right ul 
  {
  
    margin-bottom: auto;
    margin-top: auto;
  }
  .header_right ul li
  {
    display: inline;

  }
  .header_right li
  {
    font-size: 25px;
    margin: 0px 0px 0px 40px;

  }
  .activate
  {
    color: gray !important; 
  }
  @media screen and (max-width: 700px){
    section{
        width: 97%;
        margin: 0 auto;
        margin-top: 5%;
      }
      .header
      {
        margin-top: 12%;
        border: solid 1px gray;
        padding: 5px 3px 0px 10px;

        width: 90%;
      }
      .feed{
        width: 100%;
        height: 100%;
        display: block;
        margin-right: auto;
        border: 1px solid #cccccc;
      }
  .product_detalis{
    margin-left: 0;
    width: 90%;
  }
  .product{
    width: 100%;
    float: none;
    position: unset;
  }
  .product_1{
    font-size: 10px;
  }
  h2{
    font-size: 18px !important;
  }
  .service2{
    font-size: 60% !important;
  }
  .service2 p img{
    width: 30px;
    margin-top: -5px;
  }
  .tags {
    width: 74%;
    margin-top: 10px;
}
  .tags li{
    font-size: 16px;
  }
  .tags li img{
    width: 15px;
  }
  .Description_box{
    width: 100%;
    position: unset;
  }
  .des_box{
    padding: 0 20px;
  }
  .des_box p{
    font-size: 12px;
    line-height: 20px;
  }
  .speci{
    padding: 0 20px;
  }
  .speci_1{
    padding: 0 20px;
  }
  .speci_details{
    margin: 0;
  }
  .USA_1{
    font-size: 12px;
  }
  .moq{
    float: right;
  }
  .followBtn button{
    width: 80%;
    margin-top: 10px;
    background-color: green;
    color: #ffffff;
    font-weight: 600;
    height: 25px;
    border-radius: 15px;
    font-size: 10px;
}
.company_name
{
  display: none;
}
.header_right ul li{
  font-size: 16px;
 
}
.company_logo {
  width: 100%;
  margin-left: 2%;
}
.header_right
{
  margin-right: 2%
}
 }
 @media screen and (min-width: 767px) and (max-width: 1024px){
    .product_detalis[_ngcontent-c1] {
        padding-top: 8%;
        margin-left: 9%;
    }
    .product {
        padding: 10px 20px;
        background-color: #f5f2f2;
        width: 42%;
        float: left;
    }
    .tags{
        width: 100%;
        margin-top: 10px;
    }
    .des_box {
        padding: 0px 20px;
        font-family: Segoe UI, Regular;
        background-color: #F5F5F5;
    }
    .Description_box {
      width: 40%;
      left: 55%;
      /* float: left; */
      margin-left: 2%;
      font-family: Segoe UI regular;
    }
    .des_box p {
        color: #707070;
        font-size: 16px;
        border-top: solid 1px gray;
        padding: 20px 0 30px;
        font-family: Segoe UI, Regular;
    }
    .speci_1 {
        padding: 7px 38px;
        background-color: white;
        width: 100%;
    }
    section{
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
      }
      .feed{
        width: 100%;
        height: 100%;
        display: block;
        margin-right: auto;
        border: 1px solid #cccccc;
      }
      .product_detalis {
        
        margin-left: 10%;
    }
 }