<app-side-nav ></app-side-nav>
<app-header></app-header>

     <div>
        <div class="product_detalis">
            <div class="product">
              <div class="product_1">
                    <li><a href="#">{{this.productService.productData.industry}}</a></li>
                    <li style="border-left:solid 1px gray;margin-left: 10px;"><a href="#">&nbsp;&nbsp;{{this.productService.productData.category}}</a></li>
                    <li style="float:right;">{{Time | date:'medium'}}</li>
              </div>
              <div style="clear:both;"></div>
              <h2 style="color: #707070; font-size: 30px;font-family: Segoe UI regular; font-weight: 400;">{{this.productService.productData.productName}}</h2>
              <div class="service2">
                  <div class="b_page_btn" *ngIf="mybookmark">
                  <span  (click)= "addProductBookmark()"  *ngIf="bookmark else load"><svg xmlns="http://www.w3.org/2000/svg" width="24" style="margin-left: 6px;" height="24" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="red"/></svg> </span>

                      <ng-template #load>
                  <span (click)="deleteProductBookmark()"><svg xmlns="http://www.w3.org/2000/svg" width="24" style="margin-left: 6px;" height="24" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="green"/></svg></span>

                      </ng-template>
                      </div>
                  <div class="service2_img"><img src="{{this.productService.productData.Image}}" alt="image not found"></div>
              </div>
              <div class="tags">
                <!-- <li><img src="assets/images/tags.png"   alt="image not found"><span>tag1</span></li>
                <li><img src="assets/images/tags.png"   alt="image not found"><span>tag2</span></li>
                <li><img src="assets/images/tags.png"   alt="image not found"><span>tag3</span></li>
                <li><img src="assets/images/tags.png"   alt="image not found"><span>tag4</span></li>
                <li><img src="assets/images/tags.png"   alt="image not found"><span>tag5</span></li> -->
              </div>
              <p class="contact">
                  <img src="assets/images/contact.png" alt="image not found"><span>Contact</span>
              </p>
              <div class="USA_1">
                  <li>USA:{{this.productService.productData.MaxPrice}}</li>
                  <li style="margin-left:20px;" class="moq">MOQ:{{this.productService.productData.Moq}}</li>
            </div>
        </div>
       </div>

      <div class="Description_box">
       <div class="des_box">
         <h2>Description</h2>
        <p>{{this.productService.productData.shortDescription}}</p>
      </div>
  <!-- <mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngFor="let product of products let i = index" >
    <mat-expansion-panel-header  class="speci" style="background-color:#F5F5F5;">
      <mat-panel-title>
          <h2 >Description</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="speci_1" >
      <div class="speci_details">
        <P>{{product.setup}}</P>
        <P>{{product.setup}}</P>
        <P>{{product.setup}}</P>
        <P>{{product.setup}}</P>
      </div>
      <div class="speci_details">
          <P> {{product.punchline}}</P>
          <P> {{product.punchline}}</P>
          <P>{{product.punchline}}</P>
          <P>{{product.punchline}}</P>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->
<section>


  <div class="feed" *ngFor="let f of feedResult">
  <div class="authorInfo">
  <div class="details">
    <div class="logo">
      <img src="{{f.companyLogo}}">
    </div>
    <div class="info">
   <h1>{{f.companyName}}</h1>
   <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;"></p>
   <p style="line-height: 3px;margin-bottom: 10px;"></p>
  </div>
  </div>
  <div class="followBtn" >
   <button >Following<span><svg xmlns="http://www.w3.org/2000/svg" width="30%" height="52%" fill="currentColor" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg></span></button>
   <p></p>
  </div>
  </div>
  <div class="feedInfo">
    <p>{{f.content}}</p>
  </div>
  <div class="feed-img">
  <img src="{{f.Image}}">
  </div>
  <div class="feed-share">
  <p  style="padding: 4px; margin: 0; display: flex;width: 100%;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg><span><b style="margin-left: 5px;">24,244</b></span></p>
  <p style=" padding: 0; margin:4px 0;     margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 15v4l8-8.035-8-7.965v4s-13.277 2.144-16 14c5.796-6.206 16-6 16-6z"/></svg></p>
  </div>

  </div>

  </section>
</div>
     </div>


