.share_links
{
  padding: 10px;
}
.fb_links
{
  margin-bottom: 5%;
}
.product_speci
{
  text-align: right;
}
.remove_product
{
  position: relative;
  border: none;
  top: -0.5px;
  width: 0% ! important;
  background-color: transparent;
  left: -12.3px;
  outline: none;

}
.remove_product svg
{
background-color:white;
/* fill: #ef0707; */
width: 18px;
}
