<app-header></app-header>
<app-side-nav ></app-side-nav>

<app-user-overview style="margin: 0 auto;width: 80%;"></app-user-overview>
<div class="bookmark_overview">
<section>
<h2>Bookmarks</h2>
<app-header3></app-header3>
<input type="search" placeholder="Enter Product/Service to Search">

    <div class="listing">
     <!--------------------------------------------------------------------Product Card------------------------------------------------------------------------->
    <div class="Card" *ngFor="let p of  product; let i=index">
      <div class="productCard" *ngIf="p.type == 1" >
    <div class="productImage">
      <img src="{{p.Image}}">
    </div>
    <div class="productContent" >
    <div class="content">
    <div class="productCategory">
    <h6>{{p.catogory}}</h6>
    </div>
    <div class="productName">
      <h2 routerLink = "/product-page/{{p._id}}">{{p.productName}}</h2>
      <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 4px"></span><span style= "padding-left: 8px">{{p.country}}</span></small>
    </div>
    <div class="discription" style="margin-top:30px;">
    <p>{{p.shortDescription}}</p>
    </div>
    <!-- <div class="tags">

    </div> -->
    <div class="other-info">
      <div class="price">
      <h4>{{p.price}}</h4>
    </div>
    <div class="hits">
      <!-- <p>24,354 hits</p> -->
    </div>
    </div>
    </div>
    </div>
      </div>
      
        
   
      
       <!-------------------------------------------------------------------Service Card------------------------------------------------------------------------>
      <!-- <div class="ServiceCard" >

          <div class="ServiceContent">
          <div class="content">
          <div class="ServiceCategory">
          <h6>{{card.Servicecatogory}}</h6>
          </div>
          <div class="ServiceName">
            <h2>{{card.serviceName}}</h2>
            <h5>{{card.scompany}}</h5>
            <small style="float:right"><span style="border-right:1px solid #cccccc; padding-right: 8px">{{card.sdevice}}</span><span style= "padding-left: 8px">{{card.scountry}}</span></small>
          </div>
          <div class="discription" style="margin-top:30px;">
          <p>{{card.sdiscription}}</p>
          </div>
          <div class="tags">

          </div>
          <div class="other-info">
            <div class="price">
            <h4>Price</h4>
          </div>
          <div class="hits">
            <p>24,354 hits</p>
          </div>
          </div>
          </div>
          </div>
          <div class="ServiceImage">
               <div class="bookmark">

              </div> 
              <img src="https://picsum.photos/200/300/?random">
            </div>
            </div>
    </div>
   
    </div> -->
    </div>
    </div>
    <ng-template #load>
        <h2>No bookmarks</h2>
      </ng-template>
   
</section>
</div>