h1
{
  font-size: 27px;
}
h2
{
  font-size: 25px;
}
section{
  display: table;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 40px;
}
.productForm{
  display: table-cell;
  width: 50%;
  height: 100%;
}
.productForm form{
  width: 100%;
  margin: 0 auto;
}
.listingSection input{
  width: 100%;
  height: 35px;
}
.productImg{
  width: 95%;
  display: flex;
  padding: 20px 0px 20px 0;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}
input[type = "file"]{
  visibility: hidden;
  z-index: -44;
}
.productImg button{
  width: 100%;
  height: 100%;
  border:none;
  font-weight: bolder;
  z-index: 22;
  margin-top: -30px;
}
.addButton{
  width: 45%;
  height: 160px;
  cursor: pointer;
}
.image{
  width: 45%;
  height: 160px;
  margin-left: 9%;
}
.image img{
  width: 100%;
  height: 100%;
}
.discription textarea{
  width: 100%;
  height: 20vh;
}
.chips{
  margin-top: 30px;
  width: 100%;
  height: 20vh;
  background-color: aqua;
}
.category{
  width: 100%;
  margin-top: 20px;
}
.category input{
  width: 95%;
  height: 35px;
}

.category textarea{
  margin-top: 20px;
  width: 95%;
  height: 20vh;
}
.category button{
   width: 40%;
   margin-top: 5px;
   height: 35px;
   border: none;
   margin-bottom: 2%;
   /* border-radius: 10px; */
}
.price input{
width: 30%;
height: 35px;
margin-left: 20px;
}
.moq input , .proCategory input , .Tf input , .industry input {
  width: 100%;
  height: 35px;
  margin-top: 20px;
}
.product_submit
{
  margin-top: 30px;
  /* width: 30%; */
  height: 40px;
  color: white;
  font-size: 15px;
  background-color: black ;
  border: none;
  margin: 10px 15px 0 0;
}
  .product_cancel
  {
    margin-top: 35px;
    width: 25% !important;
    height: 40px;
    color: white;
    font-size: 15px;
    border: none;
    margin: 10px -17px 0 10px;
    margin-bottom: 2%;
  }



input , textarea{
  padding: 0 0 0 10px;
}

.delete_product
{
  display: flex;
}
.product_cancel svg
{
  fill: black;
}
.product_speci
{
  margin-top: 4%;
}
.remove_product
{
  float: right;
  position: relative;
  border: none;
  top: -10.5px;
  width: 0% ! important;
  background-color: transparent;
  left: -19.3px;
  outline: none;

}
.remove_product svg
{
  background-color:white;
 fill: black;
}
.error{
  border: 1px solid red;
}