
*{margin:0px;}

.home_bgimg
{
 background-image: url("/assets/images/backimg2.jpg");
 height: 100vh;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;


 }
.HomePage
{

 background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
 color: #f1f1f1;
 width: 100%;
 height: 100vh;
  position:relative;
 background-image: linear-gradient( rgba(20,28, 38, 0.5),rgba(75,82,91,0.9));
}
.HomePage_header
{
 margin: 0 auto;
 width: 90%;
 display: flex;

}
.header_logo
{
 width: 60%;
 margin-top:1%;
}
.header_logo h1
{
 font-size: 100px;
 color: white;
}
.header_logo p
{
  margin-top: -9px;
margin-left: 18px;
  font-size: 18px;


  color: white;
}
.sign_up_btn
{
 width: 40%;
 margin-top: 2%;

}
.btn1
{
 background-color: white;
 border: none;
 border-radius: 100px;
 width: 14%;
 height: 7vh;
 position: absolute;
 font-size: 20px;
 z-index: 10;
 text-transform: uppercase;
 font-weight: 700;
 color: rgb(45, 61, 81);
 font-family: SegoeUI-Bold, "Segoe UI";
 left: 70%;
 cursor: pointer;
}
.btn2
{
  cursor: pointer;
 text-transform: uppercase;
 background-color: transparent;
 border: solid 1px gray;
 border-radius: 100px;
 width: 40%;
 height: 7vh;
 font-size: 20px;
 left: 61%;
 padding: 1px 15px;
 position: relative;
 color: white;
 font-weight: 700;
 font-family: SegoeUI-Bold, "Segoe UI";
}
.btn1_mobile
{
 background-color: white;
 border: none;
 border-radius: 100px;
 width: 14%;
 height: 7%;
 position: absolute;
 font-size: 20px;
 z-index: 10;
 text-transform: uppercase;
 font-weight: 700;
 color: rgb(45, 61, 81);
 font-family: SegoeUI-Bold, "Segoe UI";
 left: 70%;
 cursor: pointer;
}
.btn2_mobile
{
  cursor: pointer;
 text-transform: uppercase;
 background-color: transparent;
 border: solid 1px gray;
 border-radius: 100px;
 width: 40%;
 height: 7vh;
 font-size: 20px;
 left: 61%;
 padding: 1px 15px;
 position: relative;
 color: white;
 font-weight: 700;
 font-family: SegoeUI-Bold, "Segoe UI";
}
.header_text
{
 margin: 0 auto;
 width: 70%;

 margin-top: 4%;
}
.header_text h2
{
 text-align: center;
 font-size: 32px;
 color:white !important;
 font-weight: 400;
}
.header_img
{
 margin: 0 auto;
 width: 55%;
}
.header_img img
{
 width: 53%;
 /* height: 50%; */
 border-radius: 24px;
 /* TOP: 50%; */
 POSITION: absolute;
    bottom: 60px;
}
#section_2
{
 height: 65vh;
 margin-bottom: 2%;

}
.section2
{
  margin: 0 auto;
  width: 75.5%;
  border: solid 7px black;
  position: absolute;
  background-color: white;
  left: 12%;
  height: 60%;
  margin-top: -4%;
  padding-bottom: 1px;
  box-sizing: border-box; 
}
.section2_content
{
 margin: 0 auto;

 width: 70%;
 margin-top: 4%;

}
.section2_content h2
{
 color: rgb(45, 61, 81);
 font-weight: 400;
 font-size: 29px;
 text-align: center;

}
.category_btn
{
 margin: 0 auto;
 width: 50%;
 margin-top: 9%;

}
.category_btn button
{
 width: 100%;
 font-size: 30px;
 background-color: rgb(33, 43, 56);
 border: none;
 color: white;
 height: 10vh;
 text-align: center;
}
.images
{

 display: flex;
 position: absolute;
 bottom: -114px;
 width: 100%;
 justify-content: space-around;
}

.img1
{
  cursor: pointer;
 background-image: url(/assets/images/handpaper.jpg);
 /* width: 100%; */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 100%;
 width: 200px;
 height: 200px;
 border: solid 11px white;
transition-duration: 1s;
}
.hover_1
{
 background: rgba(0, 0, 0, 0.5);
 height: 100%;
 border-radius: 100%;
}

.hover_1 h3
{

 text-align: center;
 font-size: 20px;
 font-weight: 500;
 color: white !important;
 padding: 42% 0;
}

.img1:hover .hover_1
{

 transform: scale(1.2);
 opacity: 0;
 transition-duration: 1s;

}
.img2
{
  cursor: pointer;
 background-image: url(/assets/images/gems.jpg);
 /* width: 100%; */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 100%;
 width: 200px;
 height: 200px;
 border: solid 11px white;
 transition-duration: 1s;

}

.hover_2
{
 background: rgba(0, 0, 0, 0.5);
 height: 100%;
 border-radius: 100%;
}
.hover_2 h3
{

 text-align: center;
 font-size: 20px;
 font-weight: 500;
 color: white !important;
 padding: 42% 0;
}
.img2:hover .hover_2
{
  transition-duration: 1s;
 transform: scale(1.2);
 opacity: 0;

}
.img3
{
  cursor: pointer;
 background-image: url(/assets/images/handicrafts.jpg);
 /* width: 100%; */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 100%;
 width: 200px;
 height: 200px;
 border: solid 11px white;
 transition-duration: 1s;
}

.hover_3
{
 background: rgba(0, 0, 0, 0.5);
 height: 100%;
 border-radius: 100%;
}
.hover_3 h3
{
color: white !important;
 text-align: center;
 font-size: 20px;
 font-weight: 500;
 padding: 42% 0;

}
.img3:hover .hover_3
{
  transition-duration: 1s;
 transform: scale(1.2);
 opacity: 0;

}

.section3
{
 background-color: rgb(45, 61, 81);
 /* height: 80vh; */
}
.slider
{
 margin: 0 auto;
 width: 70%;
}
#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.error{
  border: 1px solid red;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }


.section4
{
 margin: 0 auto;
 width: 70%;
 margin-top: 2%;
 margin-bottom: 3%;
}


.images h2
{
  display: none;
}

.b_face_card
{
  margin: 0 auto;
  width: 50%;
  border: solid 1px gainsboro;
  background-color: white;
}
.b_face_card_img
{
  width: 100%;
  height: 450px;
}
.b_face_card_img img
{
  width: 100%;
  height: 32vh;
}
.follower_img {
  margin: 0 auto;
  width: 35%;
  position: relative;
 }
.follower_img1 {
  position: absolute;
  
  bottom: -75px;
  text-align: center;
  width: 100%;
 }
 
 .follower_img1 img {
  border-radius: 100%;
  width: 150px;
  outline: none;
     height: 150px;
 border: solid 5px white;
 }
 .b_face_card_name
 {
  margin: 0 auto;
  width: 95%;
  margin-bottom: 8%;
  margin-top: 15%;
  text-align: center;
 }
 .b_face_card_name h2
 {
  color: black;
  font-size: 25px;
  margin-bottom: 1%;
 }
 .b_face_card_specialities
 {
  margin: 0 auto;
  width: 65%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  box-shadow: 0px 0px 3px 0px #5555;
  border: solid 1px gray;
  padding: 10px;
  border-bottom: none;
 }
 .b_face_card_specialities h2
 {
  text-align: center;
  color:#2491be;
  font-size: 25px;
 }
 .specialities_list 
 {
   margin-top: 1%;
 }
 .specialities_list li
 {
   padding: 6px;
 }
 .b_face_title
 {
  border-bottom: none;
  border-radius: 27px 10px 0 0;
  box-shadow: 0px 1px 5px 0px #5555;
  padding: 11px;
 }
 .b_face_title h2
 {
   text-align: center;
 }


.user_need_email
{
 margin-bottom: 30px;
}
.user_need h2
{
 color:rgb(45, 61, 81);
 line-height: 50px;
 font-size: 25px
}
.user_need h4
{

 font-weight: 400;
}
.user_need_email ul
{
 list-style: none;
 margin-left: -4%;
}
.user_need_email li
{
 display: flex;
 margin-top:3%;
}
.user_need_email label
{
 width: 10%;
 font-size: 18px;
}
.user_need_email textarea
{
 width:100%;
 height: 10vh;

}

.email_box label
{
  width: 11%;
}
.input_box
{
 width: 92%;
 margin-left: -3px;
}
.email_box input
{
 width: 65%;
 height:30px;
}
.email_box button
{
 background-color: rgb(45, 61, 81);
 width: 15%;
 border: none;
 color: white;
 cursor: pointer;
 font-weight: 500;
 font-size: 15px;
 box-shadow: 0px 1px 5px 0px #5555;
}
.section5
{
 background-color: rgb(45, 61, 81);
 padding: 50px;


}

.b_face
{
 margin: 0 auto;
 width: 70%;
 background-color: white;
 position: relative;
 padding: 0px 8px 30px;

}
.b_face h2
{
 margin: 0 auto;
 width: 95%;
 line-height: 70px;
 color: rgb(45, 61, 81);
 font-size: 28px;

}
.b_face_1
{
 display:flex;
 margin: 0 auto;
 width: 95%;
}
.b_face_img
{
 width: 50%;

}
.b_face_img img
{
 width: 100%;
 height: 450px;
}
.b_face_content
{

 width: 58%;
 margin-left: 3%;
}
.b_face_content h3
{
 margin-left: 8%;

 color: rgb(45, 61, 81);
 font-size: 28px;
 margin-bottom: auto;
 margin-top: auto;
}
.b_face_content ul
{
 list-style: none;
 margin-top: 5%;

}
.b_face_content li
{
 display: flex;
 margin-top: 5%;
}
.b_face_content span
{
 font-size: 17px;
}
.b_face_content svg
{
 width: 15px;
 height: 15px;
 margin: 0px 16px 0 0;

}
.b_face_content button
{
 background-color: rgb(45, 61, 81);
 border: none;
 color: white;
 cursor: pointer;
 box-shadow: 0px 2px 10px 0px #5555;
 margin: 0 auto;
 width: 52%;
 height: 7vh;
 font-size: 16px;
}
.section6
{
 margin: 0 auto;
 width: 70%;
}
.benifites
{
 display: flex;
 margin-top: 5%;
 margin-bottom: 5%;
}
.benifites_left
{
 width: 60%;
 margin-bottom: auto;
 margin-top: auto;
}
.benifites_left h2
{
 line-height: 40px;
 color: rgb(45, 61, 81);
 font-weight: 500;
 font-size: 28px;
 width: 78%;
}
.benifites_left h2 > span
{

 color: rgb(45, 61, 81);
 font-weight: 900;

}
.benifites_right
{
 width: 55%;
}
.benifites_btn img
{
 margin-bottom: auto;
 margin-top: auto;
}
.benifites_btn button
{
  box-shadow: 0px 2px 10px 0px #5555;
 font-size: 19px;
 border-radius: 4px;
 padding: 10px 4px 7px 10px;
 margin: 15px 0;
 border: none;
 width: 100%;
 color: white;
 background-image: linear-gradient(-90deg, #384251, #63748b);
 display: flex;
}
.benifites_btn span
{
 margin-top: 3%;
 margin-left: 4%;
 text-align: left;
}

.section7
{
 margin: 0 auto;
 width: 70%;
}
.section7_1
{
 border: solid 3px black;
 padding: 15px 0px 30px;
}
.section7_1 h2
{
 margin: 0 auto;
 width: 80%;
 color: rgb(45, 61, 81);
 font-weight: 400;
 font-size: 28px;
}
.section7_1 h3
{
 color: rgb(45, 61, 81);
 margin: 0 auto;
 width: 80%;
 padding-top:5%;
 font-size: 28px;
 font-weight: 400;
}
.section7_2
{
 border: solid 10px black;
 margin: 0 auto;
 width: 50%;
 height: 20vh;
 border-top: none;
 border-bottom: none;

}
.section7_3
{
 border: solid 7px black;
 border-bottom:none;
}
.section7_3 h3
{
 color: rgb(45, 61, 81);
 margin: 0 auto;
 width: 70%;
 font-weight: 400;
 padding: 20px;
 font-size: 35px;
 margin-bottom: 5%;
 margin-top: 3%;
 text-align: center;

}
.section7_4
{
 display: flex;
 background-color: white;
 margin-left: -6%;

 margin-right: -6%;
}
.section7_4_1
{
  cursor: pointer;
 width: 50%;
 box-shadow: 0px 1px 5px 0px #5555;
 margin: 0px 28px;
 padding: 20px 30px 20px;

}
.section7_4_1 img
{
 width: 100%;
 height: 40vh;
 PADDING: 15PX 0;


}
.section7_4_1 h4
{
 text-align: center;
 color: rgb(45, 61, 81);
 font-size: 20px;
 margin-top: 4%;
}
.section8
{
 margin: 0 auto;
 width: 70%;
 margin-top: 3%;
 margin-bottom: 1%;
}

.section8_text h2
{
 line-height: 50px;
 color: rgb(56, 67, 79);
}
.section8_text h4
{
 line-height: 50px;
 color: rgb(56, 67, 79);
 font-size: 20px;
 font-weight: 400;
}
.section8_btn
{
 text-align: center;
 margin-top: 5%;
}
.section8_btn h2
{
 color: rgb(56, 67, 79);
 font-size: 30px;
}
.section8_btn button
{
 background-color: rgb(56, 67, 79);
 border: none;
 width: 20%;
 color: white;
 font-size: 25px;
 margin-top: 3%;
 border-radius: 100px;
 padding: 10px;
 box-shadow: 0px 2px 10px 0px #5555;
}
.path
{
  position: absolute;
  left: 50px;
  margin: 0 auto;
  bottom: -6px;
  width: 92%;
}
#images_mobile
{
  display: none
}
#sign_up_btn_mobile
{
  display: none;
}

@media screen and (min-width:200px) and (max-width:335px) {
  .img1 {
    width: 90px !important;
    height: 90px !important;
        margin: 0px 20px 0 !important; 

   }
   .img2 {
    width: 90px !important;
    height: 90px !important;
    margin: 0px 20px 0 !important;

   }
   .img3 {
    width: 90px !important;
    height: 90px !important;
    margin: 0px 100px 0 !important;

   }
   .images{
 
    top: 18% !important;
    padding: 1px 0px 10px 0 !important;

       height: fit-content;

 
}
.section4 {
  margin-top: 10% !important;
}
#images_mobile
{
  display: block;
}
#sign_up_btn_web
{
  display: none;
}
#sign_up_btn_mobile
{
  display: block;
}
}

@media screen and (min-width:200px) and (max-width:400px) {
  #images_mobile
{
  display: block;
}
  .images h2
  {
    display: block;
    color: white !important;
    padding: 4%;
    text-align: center;

  }
 .HomePage
 {

 height: 72vh;
 }
.home_bgimg
 {
 height: 72vh;
 width: 100%;

}
.HomePage_header {
 margin: 0 auto;
 width: 90%;
 display: block;
}
.header_logo {
 width: 100%;
}
.header_logo h1 {
 font-size: 60px;

}
.header_logo p {
 font-size: 13px;

}
.sign_up_btn
 {
 width: 100%;
 margin-top: 5%;

}
.btn1_mobile
{
 width: 44%;
 /* top: 51%; */
 height: 9%;
 font-size: 18px;
 left: 10%;
}
.btn2_mobile
 {
 width: 46%;
 height: 9%;
 left: 45%;
 position: absolute;
 /* top: 51%; */

 }
 #sign_up_btn_mobile
{
  display: block;
}
 .header_text {
 width: 100%;
 margin-top: 10%;
}
.header_text h2{

 font-size: 13px;
}
.header_img {
 margin: 0 auto;
 width: 80%;
}
.header_img img {
 width: 79%;
 border-radius: 24px;
 bottom: 13px;
 POSITION: absolute;
}
#section_2 {
 height: 60vh;
 margin-bottom: 2%;
}
.section2 {
 margin: 0 auto;
 width: 100%;
 border:none;

 left: 0%;

 height: 33%;

}
.section2_content
 {
 width: 100%;
 margin-top: 2%;

 }
 .section2_content h2 {
 font-size: 15px;

}
.category_btn {
 display: none;
}
.images{
 display: block;
 /* position: relative; */
 padding-top: 2%;
 padding: 29px 0px 10px 0;
 bottom: -90%;
 left: 0%;
 background-image: linear-gradient(180deg, #384251, #63748b);

 }



.img1 {
 width: 100px;
 height: 100px;
 float: left;

 margin: 0px 30px 0;
 border-radius: 100px;
 text-align: center;
}
.img1 img {

 width: 90px;
 height: 90px;

}
.img1 h3 {

 text-align: inherit;
 font-size: 14px;
 padding: 31% 0;

}
.img2 {
 width: 100px;
 height: 100px;

 text-align: center;
 margin: 0px 16px;
 border-radius: 100px;
 float: left;
}
.img2 img {

 width: 90px;
 height: 90px;

}
.img2 h3 {

 text-align: inherit;
 font-size: 17px;
 padding: 31% 0;

}
.test_3
{
  display: flex;
  justify-content: center;
}
.img3{
 width: 100px;
 height: 100px;
 margin: 0 auto;

 float: left;
 border-radius: 100px;
 text-align: center;
 /* margin-left: 32%; */
}
.img3 img {
 width: 90px;
 height: 90px;

}
.img3 h3 {

 text-align: center;
 font-size: 17px;
 padding: 31% 0;

}
.section4 {
 margin: 0 auto;
 width: 90%;
 margin-bottom: 20%;
}
.user_need_email li {
 display: flex;
 margin-top: 8%;
}
.user_need_email label {
 width: 24%;
 font-size: 18px;
}
.email_box label {
 width: 19%;
 float: left;
}
.email_box
{
 display: block !important;
}
.input_box
{
 width: 100%;
}
.email_box input {
 width: 78%;
 height: 30px;
}
.email_box button{
  cursor: pointer;
 background-color: rgb(45, 61, 81);
 width: 20%;

 border: none;
 color: white;
 height: 6vh;
 font-weight: 500;
 font-size: 14px;
 box-shadow: 0px 1px 5px 0px #5555;
 float: right;
 margin-top: 5%;
}
.section5 {
 background-color: rgb(45, 61, 81);
 padding: 10px;

}
.b_face_1{
 display: block;
 margin: 0 auto;
 width: 95%;
}
.b_face{
 margin: 0 auto;
 width: 95%;
 background-color: white;
 position: relative;
 padding: 0px 8px 30px;
}
.b_face_img {
 width: 100%;
}
.b_face_content {
 width: 100%;
 margin-left: 0%;
}
.section6 {
 margin: 0 auto;
 width: 90%;
 box-shadow: 0px 1px 5px 0px #5555;
 padding: 12px 13px;
 border-radius: 15px;
 margin-top: 3%;
 margin-bottom: 5%;

}
.benifites {
 display: block;

}
.benifites_left {
 width: 100%;

}
.benifites_left h2 {
 line-height: 27px;
 color: rgb(45, 61, 81);
 font-weight: 500;
 font-size: 18px;
 width: 100%;
 text-align: center;
}
.benifites_right {
 width: 100%;
}
.section7 {
 margin: 0 auto;
 width: 80%;
}
.section7_4 {
 display: block;

}
.section7_4_1 {
 width: 96%;
 box-shadow: 0px 1px 5px 0px #5555;
 margin: 10px 0px;
 border: solid 7px black;
 padding: 0px 0 20px;
}
.section7_1 h2 {

 font-size: 16px;
}
.section7_1 h3 {

 font-size: 16px;
}
.section7_3 h3 {

 font-size: 18px;

}
.section7_2 {

 width: 70%;
 height: 10vh;

}
.section8{
 margin: 0 auto;
 width: 80%;
 margin-bottom: 40%;

}
.section8_texth2 {
 line-height: 50px;
 color: rgb(56, 67, 79);
}
.section8_text h4 {
 line-height: 29px;
 color: rgb(56, 67, 79);
 font-size: 14px;
 font-weight: 400;
}
.section8_text h2 {

 font-size: 15px;
}
.section8_btn h2 {
 color: rgb(56, 67, 79);
 font-size: 14px;
}
.section8_btn button {
 width: 53%;
 font-size: 15px;

}
.all_images_1
{
  display: flex;
  justify-content: center;
}
#images_web
{
  display: none;
}
#sign_up_btn_web
{
  display: none;
}
.path {
  position: absolute;
  left: 0;

  bottom: 0;
  width: 100%;
}
}
@media screen and (min-width:401px) and (max-width:700px) {
  #images_mobile
{
  display: block;
  height: fit-content;
  padding: 10px;

}
.all_images_1
{
  display: flex;
  justify-content: center;
}
#images_web
{
  display: none;
}
.test_3
{
  display: flex;
  justify-content: center;
}
  .images h2
  {
    display: block;
    color: white !important;
    text-align: center;
    padding: 4%;
    
  }
.HomePage
 {

 height: 72vh;
 }
.home_bgimg
 {
 height: 72vh;
 width: 100%;

}
.HomePage_header {
 margin: 0 auto;
 width: 90%;
 display: block;
}
.header_logo {
 width: 100%;
}
.header_logo h1 {
 font-size: 60px;

}
.header_logo p {
 font-size: 15px;

}
.sign_up_btn
 {
 width: 100%;

}
.btn1_mobile
 {
 width: 37%;
 top: 41%;
 height: 9%;
 left: 15%;
 }
.btn2_mobile
 {
 width: 37%;
 height: 9%;
 left: 44%;
 position: absolute;
 top: 41%;
 }
 #sign_up_btn_mobile
{
  display: block;
}
 .header_text {
 width: 100%;

}
.header_text h2{

 font-size: 16px;
}
.header_img {
 margin: 0 auto;
 width: 80%;
}
.header_img img {
 width: 80%;
 border-radius: 24px;
 bottom: 16px;
 POSITION: absolute;
}


#section_2 {
  height: -webkit-fill-available;
 margin-bottom: 2%;
}
.section2 {
 margin: 0 auto;
 width: 100%;
 border: none;
 left: 0%;
;
 /* height: 50%; */


}
.section2_content
 {
 width: 100%;
 }
 .section2_content h2 {
 font-size: 20px;

}
.category_btn {
 display: none;
}
.images{

 display: block;
 position: relative;
 padding-top: 3%;
 left: 0%;
 background-image: linear-gradient(180deg, #384251, #63748b);
 height: -webkit-fill-available;
 bottom: -21px;
 }



.img1 {

 float: right;

 margin: 0px 10px;
 border-radius: 100px;
 text-align: center;
}
.img1  {

 width: 100px;
 height: 100px;

}
.img1 h3 {

 text-align: inherit;
 font-size: 15px;

}
.img2 {


 text-align: center;
 margin: 0px 16px;
 border-radius: 100px;
 float: left;
}
.img2{

 width: 100px;
 height: 100px;

}
.img2 h3 {

 text-align: inherit;
 font-size: 15px;

}
.img3{

 margin: 0 auto;
 float:left;
 border-radius: 100px;
 text-align: center;
 /* margin-left:30%; */
}
.img3  {

 width: 100px;
 height: 100px;

}
.img3 h3 {

 text-align: center;
 font-size: 15px;

}
.section4 {
 margin: 0 auto;
 width: 90%;
 margin-bottom: 20%;
 margin-top: 5%;
}
.user_need_email li {
 display: flex;
 margin-top: 8%;
}
.user_need_email label {
 width: 24%;
 font-size: 18px;
}
.user_need h2 {
 color: rgb(45, 61, 81);
 line-height: 24px;
 font-size: 19px;
}
.user_need h4{
 font-weight: 400;
 font-size: 13px;
}
.email_box label {
 width: 19%;
 float: left;
}
.email_box
{
 display: block !important;
}
.input_box
{
 width: 100%;
}
.email_box input {
 width: 78%;
 height: 30px;
}
.email_box button{
 background-color: rgb(45, 61, 81);
 cursor: pointer;
 width: 78%;
 border: none;
 color: white;
 height: 6vh;
 font-weight: 500;
 font-size: 15px;
 box-shadow: 0px 1px 5px 0px #5555;
 float: right;
 margin-top: 5%;
}
.section5 {
 background-color: rgb(45, 61, 81);
 padding: 24px;

}
.b_face_1 {
  display: block  ;
  margin: 0 auto;
  width: 95%;
}
.b_face{
 margin: 0 auto;
 width: 90%;
 background-color: white;
 position: relative;
 padding: 0px 8px 30px;
}
.b_face_img {
 width: 100%;
}
.b_face_content {
 width: 100%;
 margin-left: 0%;
}
.b_face_content h3 {
 margin-left: 8%;
 color: rgb(45, 61, 81);
 font-size: 25px;
 margin-bottom: auto;
 margin-top: auto;
 margin-top: 4%;
}
.section6 {
 margin: 0 auto;
 width: 90%;
 box-shadow: 0px 1px 5px 0px #5555;
 padding: 12px 13px;
 border-radius: 15px;
 margin-top: 3%;
 margin-bottom: 5%;

}
.benifites {
 display: block;

}
.benifites_left {
 width: 100%;

}
.benifites_left h2 {
 line-height: 27px;
 color: rgb(45, 61, 81);
 font-weight: 500;
 font-size: 18px;
 width: 100%;
 text-align: center;
}
.benifites_right {
 width: 100%;
}
.section7 {
 margin: 0 auto;
 width: 80%;
}
.section7_4 {
 display: block;

}
.section7_4_1 {
 width: 96%;
 box-shadow: 0px 1px 5px 0px #5555;
 margin: 10px 0px;
 border: solid 7px black;
 padding: 0px 0 20px;
}
.section7_1 h2 {

 font-size: 16px;
}
.section7_1 h3 {

 font-size: 16px;
}
.section7_3 h3 {

 font-size: 18px;

}
.section7_2 {

 width: 70%;
 height: 10vh;

}
.section8{
 margin: 0 auto;
 width: 80%;
 margin-bottom: 40%;

}
.section8_texth2 {
 line-height: 50px;
 color: rgb(56, 67, 79);
}
.section8_text h4 {
 line-height: 29px;
 color: rgb(56, 67, 79);
 font-size: 14px;
 font-weight: 400;
}
.section8_text h2 {

 font-size: 15px;
}
.section8_btn h2 {
 color: rgb(56, 67, 79);
 font-size: 14px;
}
.section8_btn button {
 width: 53%;
 font-size: 15px;

}
#sign_up_btn_web
{
  display: none;
}

.path {
  position: absolute;
  left: 0;

  bottom: 0;
  width: 100%;
}
}
@media screen and (min-width:701px) and (max-width:1023px) {
 .header_text h2 {
 text-align: center;
 font-size: 25px;
 font-weight: 400;
 }
 .header_logo h1 {
 font-size: 70px;
 color: white;
 }
 .header_logo p {
 font-size: 17px;
 color: white;
 }
 .sign_up_btn {
 width: 28%;
 margin-top: 4%;
 }
 .btn1 {


 width: 22%;
 height: 7%;
 left: 60%;
 }
 .btn2{

 width: 79%;
 height: 7vh;
 font-size: 20px;
 left: 77%;


 }
 .header_img {
 margin: 0 auto;
 width: 71%;
}
 .header_img img
 {
 bottom: 30px;
 width: 72%;
 }
 .section2{
  margin: 0 auto;
  width: 76.5%;
  border: solid 7px black;
  position: absolute;
  background-color: white;
  left: 13%;
  height: 60%;
  margin-top: -3%;
 }
 .images{
 display: flex;
 margin-top: 8%;
 bottom: -80px;
 }
 .hover_1 h3
{

 padding-top: 40%;
}
.hover_2 h3
{

 padding-top: 40%;
}
.hover_3 h3
{

 padding-top: 40%;
}

 .img1 {


 text-align: center;
 /* margin: 1px 11px 6px 33px; */
 border-radius: 100px;
 width: 130px;
 height: 130px;
 }
 .img1 h3 {

 font-size: 18px;
 font-weight: 500;
 }

 .img1 img {

 width: 100px;
 height: 100px;

 }
 .img2 {


 /* margin: 0px 8px 0 21px; */
 border-radius: 100px;
 width: 130px;
 height: 130px;
 }
 .img2 img {

 width: 100px;
 height: 100px;

 }
 .img2 h3 {

 font-size: 18px;
 font-weight: 500;
 }
 .img3 {


 margin: 0px 6px;
 border-radius: 100px;
 width: 130px;
 height: 130px;
 }
 .img3 img {

 width: 100px;
 height: 100px;

 }
 .category_btn button {

 font-size: 20px;
 height: 10vh;

 }
 .section4 {
 margin: 0 auto;
 width: 70%;
 margin-top: 2%;
 margin-bottom: 10%;
 }
 .user_need_email label {
 width: 15%;

 }
 .email_box label{
 width: 13%;
 float: left;
 }
 .user_need_email li {

 margin-top: 8%;
 }

 .user_need h2 {
 color: rgb(45, 61, 81);
 line-height: 30px;
 font-size: 29px;
 }
 .user_need h4{
 font-weight: 400;
 font-size: 17px;
 MARGIN-TOP: 2%;
 }

 .email_box
 {
 display: block !important;
 }
 .input_box
 {
 width: 100%;
 }
 .email_box input {
 width: 85%;
 height: 30px;
 }
 .email_box button{
 background-color: rgb(45, 61, 81);
 width: 18%;

 cursor: pointer;
 border: none;
 color: white;
 height: 7vh;
 font-weight: 500;
 font-size: 15px;
 box-shadow: 0px 1px 5px 0px #5555;
 float: right;
 margin-top: 5%;
 }
 .b_face {
 margin: 0 auto;
 width: 90%;
 background-color: white;
 position: relative;
 padding: 0px 8px 30px;
 }
 .b_face_content h3 {
 margin-left: 8%;
 color: rgb(45, 61, 81);
 font-size: 26px;
 margin-bottom: auto;
 margin-top: auto;
 }
 .section6 {
 margin: 0 auto;
 width: 90%;
 }
 .benifites_left h2 {
 line-height: 40px;
 color: rgb(45, 61, 81);
 font-weight: 500;
 font-size: 28px;
 width: 100%;
 }
 .section7_4_1 h4{
 text-align: center;
 color: rgb(45, 61, 81);
 font-size: 14px;
 margin-top: 4%;
 }
 .section8_text h4 {
 line-height: 26px;

 }
 .section8_btn h2{
 color: rgb(56, 67, 79);
 font-size: 23px;
 }
 .section8_btn button {

 width: 30%;
 color: white;
 font-size: 25px;


 }
 .section7_3 h3 {

 font-size: 28px;

 }
 .section7_4_1 {
 width: 50%;
 box-shadow: 0px 1px 5px 0px #5555;
 margin: 0px 17px;
 padding: 20px 30px 20px;
 }
 .follower_img1{
  position: absolute;
  bottom: -45px;
  text-align: center;
  width: 100%;
}
.follower_img1 img {
  width: 100px;
  height: 100px;
  
}
.b_face_card_name h2 {
 font-size: 20px;
}
.b_face_card_specialities {
 
  width: 80%;
}
.b_face_card_specialities h2{
  
  font-size: 20px;
}
.specialities_list li {
  font-size: 13px;
}
.b_face_title h2 {
  font-size: 20px;
}
}
@media screen and (min-width:1024px) and (max-width:1299px) {
 .images{
 display: flex;
 margin-top: 6%;
 bottom: -85px;
 /* position: absolute;
 bottom: -75%;
 left: 19%; */
 justify-content: space-between;
 padding: 0 50px;
 box-sizing: border-box;
 }
 .img1 {
 /* width: 33%; */

 margin: 0px 0px 0 0;
 text-align: center;
 width: 150px;
 border-radius: 100px;
 height: 150px;
 }
 .img1 h3 {

 font-size: 18px;
 font-weight: 500;
 }

 .img1 img {

 width: 120px;
 height: 120px;

 }
 .img2 {
 /* width: 33%; */

 margin: 0px 0px 0 0;
 width: 150px;
 border-radius: 100px;
 height: 150px;
 }
 .img2 img {

 width: 120px;
 height: 120px;

 }
 .img2 h3 {

 font-size: 18px;
 font-weight: 500;
 }
 .img3 {
 /* width: 33%; */

 margin: 0;
 width: 150px;
 border-radius: 100px;
 height: 150px;
 }
 .img3 img {

 width: 120px;
 height: 120px;

 }

 .section2 {
  margin: 0 auto;
  width: 75.5%;
  border: solid 7px black;
  position: absolute;
  background-color: white;
  left: 13%;
  height: 60%;
  margin-top: -4%;
 }
 .btn1 {
 background-color: white;
 border: none;
 border-radius: 100px;
 width: 15%;
 height: 7vh;
 position: absolute;
 font-size: 20px;
 z-index: 10;
 text-transform: uppercase;
 font-weight: 700;
 color: rgb(45, 61, 81);
 font-family: SegoeUI-Bold, "Segoe UI";
 left: 69%;
 }

 .section8_btn button {
 background-color: rgb(56, 67, 79);
 border: none;
 width: 22%;
 color: white;
 font-size: 25px;
 margin-top: 3%;
 border-radius: 100px;
 padding: 10px;
 box-shadow: 0px 2px 10px 0px #5555;
}
.section7_4_1 {
 width: 50%;
 box-shadow: 0px 1px 5px 0px #5555;
 margin: 0px 14px;
 padding: 20px 30px 20px;
}
.header_img {
 margin: 0 auto;
 width: 55%;
}
.header_img img {
 width: 55%;
 border-radius: 24px;
 bottom: 50px;
 POSITION: absolute;
}
.header_text h2 {
 text-align: center;
 font-size: 24px;
 font-weight: 400;
}
}

