<app-header></app-header>
<app-side-nav></app-side-nav>
<app-s-page-header-search></app-s-page-header-search>
<app-s-page-header></app-s-page-header>
<section>


    <div class="feed">
    <div class="authorInfo">
    <div class="details">
      <div class="logo">
        <img src="https://picsum.photos/500/300/?random">
      </div>
      <div class="info">
     <h1>Company Name</h1>
     <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;">Industry</p>
     <p style="line-height: 3px;margin-bottom: 10px;">Location</p>
    </div>
    </div>
    <div class="followBtn">
     <button>Following</button>
     <p>34,342 followers</p>
    </div>
    </div>
    <div class="feedInfo">
      <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content </p>
    </div>
    <div class="feed-img">
    <img src="https://picsum.photos/500/300/?random">
    </div>
    <div class="feed-share">
        <span><img src="assets/images/bookmark.png"></span>
    <p style="float:right; padding: 0; margin: 0;    margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 17c2.269-9.881 11-11.667 11-11.667v-3.333l7 6.637-7 6.696v-3.333s-6.17-.171-11 5zm12 .145v2.855h-16v-12h6.598c.768-.787 1.561-1.449 2.339-2h-10.937v16h20v-6.769l-2 1.914z"/></svg></p>
    </div>
    <div class="tagged">
       <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
              <h4 style="  color: #fff">Tagged Products</h4>
             </mat-panel-title>
           </mat-expansion-panel-header>

           <p>This is the primary content of the panel.</p>

         </mat-expansion-panel>
    </div>
    </div>

    </section>
