
.header{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
}
.headerElements{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.elements{
  /* width: 12%; */
  margin: 0px 25px 0 0;
  height: 100%;
  outline: none;
}
.elements h4{
  margin: 0;
}
.activate
{
  color: red !important;
}
@media screen and (max-width:700px){
  .elements{
    width: 40%;
    height: 100%;
    font-size: 13px;
  }
}
@media screen and  (min-width:767px)and (max-width:1024px){
  .elements{
    width: 18%;
    height: 100%;
  }
}
