<div class="sigup-form">
  <h3>
      Chosse Your Trade-Catalysts 
  </h3>
  <form [formGroup]="enquiryDetails" (ngSubmit)="onSubmit()" >
    <ul>
<li class="form-elements">
<select>
<option>Branding Experts</option>
<option>Digital Marketing Experts</option>
<option>Content Marketing Experts</option>
<option> Other</option>


  </select>

</li>
<li class="form-elements"><input type="text" placeholder="PHONE" formControlName= "phone" name="phone" ></li>
<li class="form-elements"><input type="email" placeholder="EMAIL" formControlName= "email" name="email"></li>
</ul>
<div class="go">
<button type="submit">Go</button>
</div>
  </form>
  <!-- <span class="other_option"><h6>Or you can Sign In with the following</h6></span>
  <div class="social_icon_signup">
    <div class="social_icon">
      <img src="../../../assets/images/facebook_logos_PNG19753.png">
    </div>
    <div class="social_icon">
      <img src="../../../assets/images/new-google-logo-2015.png">
    </div>
    <div class="social_icon">
        <img src="../../../assets/images/square-linkedin-512.png" id="linkdin_img">
    </div>
  </div>
  <div class="login-link">
   
  </div> -->
</div>
