<div class="product_speci">
    <button (click)="onClose()" class="remove_product" ><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></span></button>
  </div>
<div class="sigup-form">

  <h3>
      Chosse Your Trade-Catalysts
  </h3>
  <form [formGroup]="enquiryDetails" (ngSubmit)="onSubmit()" >
    <ul>
<li class="form-elements">
<select (change) = "onOthers($event.target.value)" id="selectBox" formControlName = "name" >
<option value="Branding Experts" >Branding Experts</option>
<option value="Digital Marketing Experts">Digital Marketing Experts</option>
<option value="Content Marketing Experts">Content Marketing Experts</option>
<option value="Content Marketing Experts"> Other</option>


  </select>
<textarea *ngIf = "showText" class="other_text" placeholder="Type Your Other Trade-Catalysts"></textarea>
</li>
<li class="form-elements"><input type="number" placeholder="PHONE" formControlName= "mobile" name="phone" ></li>
<li class="form-elements"><input type="email" placeholder="EMAIL" formControlName= "email" name="email"></li>
</ul>
<div class="go">
<button type="submit">Go</button>
</div>
  </form>
  <!-- <span class="other_option"><h6>Or you can Sign In with the following</h6></span>
  <div class="social_icon_signup">
    <div class="social_icon">
      <img src="../../../assets/images/facebook_logos_PNG19753.png">
    </div>
    <div class="social_icon">
      <img src="../../../assets/images/new-google-logo-2015.png">
    </div>
    <div class="social_icon">
        <img src="../../../assets/images/square-linkedin-512.png" id="linkdin_img">
    </div>
  </div>
  <div class="login-link">

  </div> -->
</div>
