
<div>
  <section>
    <div class="productForm">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="header">
          <h1>EDIT PRODUCT</h1>
          <!-- <small>Register and step into business world </small> -->
        </div>
        <div class="listingSection">
          <h2>Listing Details</h2>
          <label>Enter Product Name</label>
          <input type="text" placeholder="Product Name" formControlName="productName">
          <div class="productImg">
            <div class="addButton">
              <input type="file" #imagePicker (change)="onImagePick($event,'image')">
              <button type="button" (click)="imagePicker.click()">ADD Product Image</button>
            </div>
            <div class="image">
              <img *ngIf="imagePreview" [src]="imagePreview">
            </div>
          </div>
        </div>
        <div class="discription">
          <h2>Description</h2>
          <textarea placeholder="Short Description" formControlName="shortDescription" minlength="20" maxlength="200"></textarea>
          <!-- <div class="chips"></div> -->
        </div>
        <div>
          <div class="category" formArrayName="productInfo">
            <div *ngFor="let productinfo of productForm.get('productInfo')['controls'] ; let i = index;">
              <!-- <button (click)="deleteProductInfo(i)" class="product_submit">delete product info</button> -->
              <div class="product_speci">
                  <button (click)="deleteProductInfo(i)" class="remove_product" ><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5 15.538l-3.592-3.548 3.546-3.587-1.416-1.403-3.545 3.589-3.588-3.543-1.405 1.405 3.593 3.552-3.547 3.592 1.405 1.405 3.555-3.596 3.591 3.55 1.403-1.416z"/></svg></span></button>
                </div>
              <fieldset>
                <legend>Product Specification</legend>
              <div [formGroupName]="i">
                <input list="category" placeholder="Product Specification" formControlName="productSpecification">
                <datalist id="category">
                  <option value="Category">
                  <option value="Category">
                  <option value="Category">
                  <option value="Category">
                  <option value="Category">
                </datalist>
                <textarea placeholder="Specification Content" formControlName="specificationContent"></textarea>
                <div class="fields" style="width: 100%;margin-top: 5px" formArrayName="fields">
                  <div *ngFor="let field of productinfo.get('fields').controls; let j = index; ">
                    <div [formGroupName]="j" class="delete_product">
                      <input type="text" placeholder="Enter Field Name " style="width: 40%" formControlName="fieldName">
                      <input type="text" placeholder="Enter Field Name " style="width: 40%; margin-left: 7.55555%"
                        formControlName="fieldDes">
                    
                        <span (click)="deleteField(productinfo.controls.fields, j)" class="product_cancel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-14v-4h14v4z"/></svg>
                          </span>
                      
                    </div>
                  </div>
                  <button type="button" (click)="addNewField(productinfo.controls.fields)" class="product_submit">Add More</button>
                </div>
              </div>
            </fieldset>
            </div>
          </div>
          <button type="button" (click)="addProductInfo()" class="product_submit">Add More Product Info Field</button>
        </div>
        <div class="otherSection">
          <div class="price" style="margin-top:60px;">
            <input list="price" placeholder="Price" style="width: 15%;height: 30px;margin-left: 0" formControlName="price">
            <datalist id="price">
              <option value="price">
              <option value="price">
              <option value="price">
              <option value="price">
              <option value="price">
            </datalist>
            <input type="number" placeholder="min" formControlName="minPrice">
            <input type="number" placeholder="max" formControlName="maxPrice">
          </div>
          <div class="moq">
            <input type="text" placeholder="MOQ" formControlName="moq">
          </div>
          <div class="industry">
            <input list="Industry" placeholder="Industry" formControlName="industry">
            <datalist id="Industry">
              <option value="Industry">
              <option value="Industry">
              <option value="Industry">
              <option value="Industry">
              <option value="Industry">
            </datalist>
          </div>
          <div class="proCategory">
            <input type="text" placeholder="Category" formControlName="category">
          </div>
          <div class="Tf">
            <input type="text" placeholder="TF Code" formControlName="tfCode">
          </div>
        </div>
        <button type="submit" class="product_submit">Finish</button>
      </form>
    </div>
  </section>
</div>

