.main_heading
{
  margin: 0 auto;
  width: 70%;;
}
section{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  /* background-color: cyan; */
  display: flex;
  /* box-shadow: 0px 3px 10px #5555; */
}
.leftSection{
   width: 50%;
   height: 100%;
   /* background-color: red; */
   box-shadow: 0px 3px 10px #5555;

}
.rightSection{
  width: 45%;
  height: 100%;
  margin-left: 4%;
  box-shadow: 0px 3px 10px #5555;
  overflow-y: scroll;
}
.edit_product
{
  margin: 0 auto;
  width: 80%;;
}
.edit_heading
{
  background-color: lightgray;
}
.edit_heading h2
{
  margin: 0 auto;
  width: 90%;
  color: gray;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;

}

.leftSection h2{
  font-weight: 500;
  font-size: 25px;
}
.category{
  width: 100%;
  height: 100%;
  /* margin-top: 10%; */
  /* background-color: blue; */
}
input[type="search"]{
  width: 100%;
  padding: 15px;
  border:none;
  /* border-bottom: 1px solid #ccc; */

}
.category_btn1
{
  width: 90%;
  margin: 0 auto;
  padding-top: 7%;
}
.category_btn1 button
{
  width: 100%;
  border-radius: 30px;
  border: none;
  height: 40px;
  background-color: #666692;
  color: white;
  font-size: larger;
  /* margin: 0 auto; */
}
.category_btn2
{
  width: 90%;
  margin: 0 auto;
  padding-top: 7%;
}
.category_btn2 button
{
  width: 100%;
  border-radius: 8px;
  border: solid 1px #b7adad;
  color: #2166d0;
  background-color: white;
  box-shadow: 0px 3px 10px #5555;
  height: 40px;
  font-size: larger;

}

.rightSection1
{
  margin: 0 auto;
  width:85%;
}
.edit_product
{
  width: 100%;
  border-radius: 4px;
  margin-right: 3%;
  margin-bottom: 30px;
  height: 215px;
  /* overflow-y: scroll;
  flex-wrap: wrap; */
  border: solid 1px gray;
  margin-top: 5%;
  display: flex;
  position: relative;
}
.edit_product::-webkit-scrollbar { width: 0 !important }
.card
{
  width: 36%;
  position: relative;
}

.edit_btn
{
  position: absolute;
}
.edit_btn button
{
  border-radius: 4px;
  border: none;
  background-color: gray;
  color: white;
  padding: 2px 11px;
  margin-left: 10%;
}
.product_img img
{
  position: absolute;
  /* height: 25%; */

  width: 100%;
  height: 100%;
}


.product_details
{
  text-align: end;
  width: 58%;
  overflow-y: scroll;
  margin-left: 2%;
  margin-right: 2%;

}
.product_details h2
{
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 400;
  padding-top: 1%;
  font-size: larger;
}
.product_details h4
{
  font-weight: 400;
  font-size: 15px;
  padding-top: 1%;
  margin-bottom: auto;
  margin-top: auto;
}
.product_details h5
{
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 400;
  padding-top: 1%;
}
.product_details p
{
  text-align: justify;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 4%;
  font-size: 11px;

}
.tags
{
display: flex;
padding-top: 10%;
}
.tags h5
{
  text-align: start;
  margin-bottom: auto;
  width: 100%;
  margin-top: auto;
}
.tags span
{
  border: solid 1px gray;
  border-radius: 20px;
  padding: 0px 30px;
  margin: 0 10px;
}

.cancel_button
{
  text-align: center;margin-top: -16%;margin-left: 7%;
}
  .product_details::-webkit-scrollbar { width: 0 !important }  
  .rightSection::-webkit-scrollbar { width: 0 !important }  


@media screen and (max-width: 700px){
  section
  {
    display: block;
    width:100%;
  }
  .leftSection {
    width: 100%;
    height: 35%;
   
      overflow-y: unset !important;
  
    margin-top: 8%;
    box-shadow: none;
}
.rightSection{
  width: 100%;
  height: 0 ! important;
    box-shadow:none;
    margin-left: 0 !important;
}
.rightSection1 {
  margin: 0 auto;
  width: 90%;
}
.product_img img {
  position: absolute;


  width: 80%;
}
.tags span {
  border: solid 1px gray;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 0 5px;
}
.cancel_button {

  margin-top: -25% !important;

}
}
@media screen and (min-width: 767px)and (max-width: 1024px){
  section {
    width: 90%;
  margin: 0 auto;
}
.product_details h2 {

  font-size: 16px;
}
.product_img img {
  width: 80%;
}
}
.leftSection{
  overflow-y: scroll;
}
.leftSection::-webkit-scrollbar { width: 0 !important }
.product_cancel
{
  margin-top: 30px;
  width: 30%;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: red;
  border: none;
  margin: 10px 15px 0 0;
}