section {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    color: #111111;
}

section h2 {
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    margin-top: 5%;
}

.followers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  
    flex-wrap: wrap;
    margin-top: 2%;
    /* border: 1px solid #ccc; */
    text-align: center;
}

.card {
    width: 18%;
    margin-right: 1%;
    height: auto;

    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    margin-top: 1%;
    background-color: #F5F5F5;
   
    box-shadow: 0px 2px 3px #5555;
}

.image {
    border-radius: 50%;
    display: flex;
    padding: 5px;
    align-items: center; 

}

.image img {
    width: 65px;
    height: 65px;

    padding: 2px;
    border-radius: 50%;
 
}

.info {
    width: 100%;
    text-align: right;
    height: 100%;
    margin-left: 2%;
}

.content {
    width: 95%;
    margin: 0 auto;
}

.companyName p {
    margin: 0;
    font-size: 10px;
    text-align: right;
}

.name h4 {
    bottom: 0;
    margin-bottom: 3px;
    cursor: pointer;
  color: #707070 !important;
    margin-top: auto;
    margin-top: 26px;
    text-align: left;
    font-size: 15px;

}

.name small {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
        font-size: 10px;
}

.follower_box {
    margin: 0 auto;
    width: 50%;
    border: solid 5px gray;
    height: fit-content ! important;
    margin-top: 27px;
}

.follower_user {
    width: 100%;
    box-shadow: 0px 2px 3px #5555;
}

.follower_location {
    background-color: #111111;
    width: 100%;
    float: right;
    height: 110px;
}

.follower_location span {
    float: right;
    color: white;
    margin: 5px 10px;
}

.follower_img {
    margin: 0 auto;
    width: 28%;
}

.follower_img1 {
    position: absolute;
}

.follower_img1 img {
    border-radius: 100%;
    width: 48%;
    border: slo;
    border: solid 5px white;
    margin-top: 26px;
}

.follower_name {
    text-align: center;
    margin-top: 10%;
}

.follower_name h2 {
    margin-bottom: auto;
    margin-top: auto
}

.follower_name h5 {
    margin-bottom: auto;
    margin-top: auto
}

.follower_des {
    margin: 8px auto;
    width: 90%;
    text-align: justify;
    box-shadow: 0px 2px 3px #5555;
}

.follower_des p {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
    padding: 10px 0;
}

.follower_company {
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 10px 0;
}

.company {
    width: 70%;
    display: flex;
}

.company_logo {
    width: 20%;
}

.company_logo img {
    border-radius: 100%;
    width: 100%;
}

.company_name {
    margin-left: 4%;
}

.followBtn {
    width: 30%;
    height: auto;
    float: right;
    text-align: right;
}

.followBtn button {
    width: 80%;
    margin-top: 10px;
    background-color: #8cee53;
    color: #ffffff;
    font-weight: 600;
    height: 25px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
}

.follwers_links {
    margin: 0 auto;
    width: 28%;
    display: flex;
}

.follwers_links img {
    width: 100%;
}
.com_name h5
{
    margin-bottom: 5px;
    font-size:13px;
    cursor: pointer;
    margin-top: 10px;
    color: #2680EB  !important;
}
.no_follower_dummy
{
  text-align:center;     margin: 0 auto;width: 50%;
}

.no_follower_img img
{
         width: 100px;
}
.no_follower_text
{
  text-align: center;
}
.no_follower_text h3
{
    margin-top: auto;
    font-size: 25px;
    /* color: gray !important; */
}



@media screen and (max-width:700px) {
    section {
        width: 85%;
        height: 100vh;
        margin: 0 auto;
        color: #111111;
        margin-top: 7%;
    
    }
    .follower_box {
        height: fit-content ! important;
        margin: 0 auto;
        width: 90%;
        border: solid 5px gray;
    }
    .follower_img1 img {
        border-radius: 100%;
        width: 44%;
        border: slo;
        border: solid 5px white;
        margin-top: 35px;
    }
    .follower_des p {
        margin: 0 auto;
        width: 90%;
        text-align: justify;
        padding: 10px 0;
        font-size: 11px;
    }
    .followBtn button {
        width: 100%;
        margin-top: 10px;
        background-color: #8cee53;
        color: #ffffff;
        font-weight: 600;
        height: 25px;
        border-radius: 15px;
        border: none;
        font-size: 12px;
    }
    .company_name {
        margin-left: 4%;
        font-size: 11px;
    }
    .card {
        width: 95%;
        margin-right: 2%;
        height: 12%;
        margin-left: 2%;
        display: flex;
        margin-top: 3%;
        box-shadow: 0px 2px 3px #5555;
    }
    .name h4 {
        bottom: 0;
        margin-bottom: 0;
        font-size: 13px;
    }
}

@media screen and (min-width:767px)and (max-width:1024px) {
    section {
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        color: #111111;
    }
    .follower_box {
        height: fit-content ! important;
        margin: 0 auto;
        width: 90%;
        border: solid 5px gray;
    }
    .follower_img {
        margin: 0 auto;
        width: 20%;
    }
    .follower_img1 img {
        border-radius: 100%;
        border: solid 5px white;
        margin-top: 26px;
        width: 50%;
    }
    .card {
        width: 29%;
        margin-right: 2%;
        /* height: 17%; */
        margin-left: 2%;
        display: flex;
        margin-top: 3%;
        box-shadow: 0px 2px 3px #5555;
    }
    
}