<app-header></app-header>
<div *ngIf="loading" class="loader" style="display:flex;justify-content:center;align-items:center;height: 80vh;">
    
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div [hidden]="loading" class="router-output">
     

<section>
    <h2>Followers</h2>
    <div class="followers" *ngIf="followers">
    <div class="card" *ngFor="let follower of followers">
    <div class="image" (click) = "Openpopup(follower._id)">
    <img alt="followers" src="{{follower.userImage}}">
    </div>
    <div class="info">
    <div class="content">
     
      <small style="text-transform:uppercase;    font-size: 12px;">{{follower.location}}</small>
      <div class="name">
        <h4 (click) = "Openpopup(follower._id)">{{follower.userName}}</h4>
        <small>{{follower.title}}</small>
    
      </div>
    </div>
    </div>
    </div>
    <!-- <div *ngIf="!followers.length" style="text-align:center;"><h2>No Followers Found!</h2></div> -->

    <div *ngIf="!followers.length" class="no_follower_dummy">
      <div class="no_follower">
          <div class="no_follower_img">
            <img src ="../../../assets/images/not-follower.png">
            </div>
            <div class="no_follower_text">
              
              <h3>No Following Yet!</h3>
             </div>
        </div>
      </div>
    </div>
    
    </section>
    
    
    </div>