.bookmark_overview
{
  display: flex;
}
.overview
{
  width: 70%;
  display: flex;
}
.profile
{
  width: 100%;
  display: flex;
}
.follower_user
{
  width: 100%;
  height: fit-content;
  box-shadow: 0px 4px 3px #5555;
}
.follower_location
{
  background-color: #111111;
  width: 100%;
  float:right;
  height: 110px;
}
.follower_location span
{
  margin-right: 10px;
  float:right;
  color: white;
}
.follower_img
{

  margin: 0 auto;
  width: 28%;
}
.follower_img1
{
  position: absolute;
}
.follower_img1 img
{
  border-radius: 100%;
  width: 40%;
  margin-top: 17%;
}
.follower_name
{
  text-align: center;
  padding-top: 46%;
  margin-bottom: auto;
  margin-top: auto;

}
.follower_name h2
{
  font-size: 20px;
  margin-bottom: auto;
  margin-top: auto

}

.Bio
{
  height: fit-content;
  box-shadow: 0px 2px 30px #5555;
  margin-top: 1%;
}
.follower_des
{
  text-align: justify;


}
.follower_des p
{
  margin: 0 auto;
  width: 90%;
  text-align: justify;
  font-size: 12px;

}
.follower_company
{
display: flex;
  padding: 10px 0;

}
.company{
  width: 80%;
  display: flex;
  margin: 0 auto;


}
.company_logo
{
  width: 12%;
  height: 14%;
}
.company_logo img
{
  border-radius: 100%;
  width: 100%;
}
.company_name
{
  margin-left: 4%;
  font-size: 13px;

}
.links
{
  margin-top: 3%;
}
.follwers_links
{
  box-shadow: 0px 2px 30px #5555;
  width: 44%;
}
.follwers_links img

{
  width: 100%;
}
.bookmark_following
{
  padding: 0px 10px;
}
.following_nub
{
  box-shadow: 0px 2px 30px #5555;
  display: flex;

}

.user_img
{
  width: 20%;
}
.user_img img
{
  width: 100%;
}
.following_nub1
{
  font-size: 52px;
  margin-top: 3%;
  width: 44%;
  text-align: center;
  color: #4d4f5c;
}
.following_btn
{
  width: 20%;
}
.following_btn button
{
  background-color: black;
  color: white;
  border: none;
  font-size: 24px;
  margin-top: 30%;
  padding: 0px 18px;
  box-shadow: 0px 2px 3px #5555;
}
.b_page_btn
{
  width: 63%;
  margin: 0 auto;
  margin-top: 2%;
}

.b_page_btn button
{
  border-radius:60px;
  background-color: black;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 50px;
  box-shadow: 0px 2px 3px #5555;
}
