<app-header></app-header>

<app-user-overview></app-user-overview>
<div class="bookmark_overview">
<section>
    <h2>Bookmarks</h2>
    <app-header3></app-header3>
    <div class="listing">
      <div *ngIf = "!result.length">
          <img src = "../../../assets/images/result_not_found.png">
        </div>
  <div class="companyCard" *ngFor="let r of result; let i=index">
  <div class="cardHeader">
    <div class="logo">
     <img src="r.companyLogo">
    </div>
    <div class="companyInfo">
      <div class="follow">
      <h1>{{r.companyName}}</h1>
      <div class="b_page_btn">
              <button  (click)= "companyBookmark(i ,r._id)"  *ngIf = "!this.result[i].bookm else bloading"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 2v17.582l-4-3.512-4 3.512v-17.582h8zm2-2h-12v24l6-5.269 6 5.269v-24z"/></svg></span></button>
              <ng-template #bloading>
                  <button (click)="deletecompanyBookmark(i,r._id)"><span><svg xmlns="http://www.w3.org/2000/svg" style="fill:green;" width="24" height="24" viewBox="0 0 24 24"><path d="M18 24l-6-5.269-6 5.269v-24h12v24z"/></svg></span></button>
              </ng-template>
            </div>
        </div>
      <p><span style="padding: 0 10px 0 0;border-right: 1px solid #ccc" >{{r.location}}</span> <span style="padding: 0 0 0 10px;">Industry</span></p>
      <div class="b_page_btn1">
          <button  (click)="onunfollow(i,r._id)"  *ngIf = "this.result[i].follow else loading">Following</button>

          <ng-template #loading>
              <button (click)="onfollow(i,r._id)" >Follow</button>
          </ng-template>
        </div>
    </div>

    <div class="storyBtn">
    <button routerLink = "/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}"> Know Our Story</button>
    </div>

  </div>
  <div class="discription">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <mat-accordion  class="des">

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header  class="speci" style="background-color:#F5F5F5;">
          <mat-panel-title>
              <h2 >Description</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="speci_1"  >
          <div class="speci_details">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

          </div>
          </div>
      </mat-expansion-panel>

    </mat-accordion>
  <div class="cardFooter">
  <div class="icons">
      <span><img src="assets/images/google_icon.png"></span>
      <span><img src="assets/images/contact1.png"></span>
  </div>
  </div>
  </div>
  <div *ngIf="!result">
    <img src="../../../assets/images/result_not_found.png">

  </div>

  </div>
    <!-- <div *ngIf="result">
    <div class="listing" *ngFor="let r of result">
        <input type="search" placeholder="Enter Product/Service to Search">
        <input type="search" placeholder="Enter Product/Service to Search">
    <div class="companyCard" >
    <div class="cardHeader">
      <div class="logo">
       <img src="{{r.companyLogo}}}">
      </div>
      <div class="companyInfo">
        <h1>{{r.companyName}} </h1><span   class="b1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>{{r.followers.length}}</span>
        <p><span style="padding: 0 10px 0 0;border-right: 1px solid #ccc" >{{r.location}}</span> <span style="padding: 0 0 0 10px;">{{r.industry}}</span></p>
      </div>
      <div class="storyBtn">
        <button routerLink ="/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}"> Know Our Story</button>
      </div>
    </div>
    <div class="discription">
      <p>{{r.shortIntro}}</p>
    </div>
    <mat-accordion  class="des">

         <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header  class="speci" style="background-color:#F5F5F5;">
            <mat-panel-title>
                <h2 >Description</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="speci_1"  >
            <div class="speci_details">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            </div>


          </div>
        </mat-expansion-panel>

      </mat-accordion>
    <div class="cardFooter">
    <div class="tags">
    </div>
    <div class="icons">
        <span><img src="assets/images/google_icon.png"></span>
        <span><img src="assets/images/contact1.png"></span>
    </div>
    </div>
    </div>
    </div>
    <div *ngIf="!result.length" style="text-align:center; margin: 0 auto;width: 50%;    margin-bottom: 1%;">
        <div class="no_product">
            <div class="no_product_left">

              </div>
              <div class="no_product_right">
                <h3>No Company Bookmarked yet!</h3>
               </div>
          </div>

    </div>
    </div> -->
    </section>
</div>

