<app-header></app-header>

<app-side-nav></app-side-nav>
<app-user-overview></app-user-overview>
<div class="bookmark_overview">
<section>
    <h2>Bookmarks</h2>
    <app-header3></app-header3>
    <div *ngIf="result" class="company_card">
    <div class="listing" *ngFor="let r of result">
        <!-- <input type="search" placeholder="Enter Product/Service to Search"> -->
        <!-- <input type="search" placeholder="Enter Product/Service to Search"> -->
    <div class="companyCard" >
    <div class="cardHeader">
      <div class="logo">
       <img alt="company" src="{{r.companyLogo}}}">
      </div>
      <div class="companyInfo">
        <h1>{{r.companyName}} </h1><span   class="b1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>{{r.followers.length}}</span>
        <p><span style="padding: 0 10px 0 0;border-right: 1px solid #ccc" >{{r.location}}</span> <span style="padding: 0 0 0 10px;">{{r.industry}}</span></p>
        <!-- <button>Follow</button> <span style="margin-left:20px;">24,567 followers</span> -->
      </div>
      <div class="storyBtn">
        <button routerLink ="/companyPage/{{r._id}}" [queryParams]= "{urltype:'default'}"> Know Our Story</button>
      </div>
    </div>
    <div class="discription">
      <p>{{r.shortIntro}}</p>
    </div>
    <mat-accordion  class="des">

        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header  class="speci" style="background-color:#F5F5F5;">
            <mat-panel-title>
                <h2 >Description</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="speci_1"  >
            <div class="speci_details">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            </div>


          </div>
        </mat-expansion-panel> -->

      </mat-accordion>
    <div class="cardFooter">
    <div class="tags">
    </div>
    <div class="icons">
        <span><img alt="company" src="assets/images/google_icon.png"></span>
        <span><img alt="company" src="assets/images/contact1.png"></span>
    </div>
    </div>
    </div>
    </div>
    <div *ngIf="!result.length" class="no_product_dummy">
        <div class="no_product">
            <div class="no_product_left">

              </div>
              <div class="no_product_right">
                <h3>No Company Bookmarked yet!</h3>
               </div>
          </div>

    </div>
    </div>
    </section>
</div>

