.bookmark_overview
{
  box-shadow: 0px 1px 8px 1px rgba(25, 25, 25, 0.2);
  margin: 0 auto;
  width: 90%;
  margin-left: 7%;
  margin-top: 2%;
}
section{
  width: 90%;
  margin: 0 auto;
  padding: 4px;
  margin-top: 30px;
}
.listing{
  width: 100%;
  height: fit-content;
  min-height: 80vh;
}
.companyCard{
  width: 48%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  float: left;
  margin-top: 40px;
  margin-right: 1%;
  margin-left: 1%;
}
.cardHeader{
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.logo{
  height: auto;
}
.logo img{
  width: 120px;
  height: 120px;
  padding: 5px 0 0 0;
  border-radius: 50%;
}
.companyInfo{
  width: 65%;
  margin-left: 20px;
}
.companyInfo h1{
  margin: 0;
  padding: 5px 0 0 0;
}
.companyInfo button{
  width: 32%;
  height: 25px;
  border: none;
  border-radius: 10px;
}
.storyBtn{
  width: 40%;
  margin-left: 5%;
  margin-top: 20px;
}
.storyBtn button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border:none;
}
.discription{
  width: 90%;
  margin: 0 auto;
}
.discription p{
  width: 80%;
}
.cardFooter{
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.tags{
  width: 80%;

}
.tags p{
  margin: 0;
  padding: 0px 0 15px 0;
}
.icons{
  width: 20%;
  display: flex;
}
.icons span
{
  margin: -9% 1% 1%;
}
.icons img
{
  width: 80%;
}
.icons p{
  margin: 0;
  padding: 0px 0 15px 0;
}
.des
{
  display: none;
}
.no_product
{
  height: 25vh;
  display: flex;
  border: solid 1px gray;
  border-radius: 4px 10px 10px 1px;
  margin-top: 30px;
  align-items: center;
}
.no_product_left
{
  height: 25vh;
  width:35%;
  background-color: gray;
}
.no_product_right
{
  margin-left: 4%;
}
@media screen and (max-width: 700px){
  section{
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 7%;
  }
  .companyCard {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 21px;

}
.storyBtn {
  display: none;
}
.companyInfo h1 {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 16px;
}
.b1{
  float: right;
  margin-left: 29px;
}
.discription
{
  display: none;
}
.des
{
  display: block;
}
.cardFooter
{
  display: none;
}
.companyInfo  button{
  width: 27%;
  height: 25px;
  border: none;
  border-radius: 10px;
}
.listing input{
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border:none;
}
}
@media screen and (min-width: 767px) and (max-width: 1024px){
  section{
    width: 90%;
    margin: 0 auto;

    margin-top: 30px;
  }
  .storyBtn{
    width: 26%;
    margin-left: 5%;
    margin-top: 20px;
}
.companyCard {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  float: left;
  margin-top: 40px;
  margin-right: 1%;
  margin-left: 1%;

}
}
input{
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border:none;
  margin-left: 10px;
}
