
<app-header></app-header>

<app-side-nav></app-side-nav>
<section>
    <div class="company_form1">
        <div class="company_form_genral">

                    <app-edit-side-nav style="width:30%;"></app-edit-side-nav>

            <div class="comapany_form" >
                <div>
                    <div class="companyForm">


                        <div class="form" [formGroup] = "companyForm">

                            <ul>

                                <label> Website</label>
                                <li>
                                <input type="text" formControlName="website" class="website">
                                </li>
                                <label>Facebook</label>
                                <li>
                                <input type="text" formControlName="facebook" class="website">
                                </li>
                                <label>Linkedin</label>
                                <li>
                                <input type="text" formControlName="linkedin" class="website">
                                </li>
                                 <label> Company Type</label>
                                <li>
                                    <input list="company-type" formControlName="companyType" class="company-type">

                                </li>
                                <label> Short Bio (200 characters)</label>
                                <li>
                                    <textarea  formControlName="shortIntro"></textarea>
                                </li>

                                <div class="company_size">
                                        <label style="width:42%"> Year Established</label>
                                        <label> Company Size</label>
                                   </div>
                                <li>
                                    <div class="company_size">

                                        <input type="number" formControlName="yearEstd"
                                            class="yearEstd">

                                            <input type="number" formControlName="companySize"
                                            class="companySize">
                                     </div>
                                </li>
                                <div class="working_hours">
                                        <label style="width:42%"> Working Hourse</label>
                                        <label> Headquarters</label>
                                   </div>
                                <li>
                                    <div class="working_hours">
                                        <input type="number" formControlName="workingHours" class="workinghours">
                                        <input type="text" formControlName="city" class="companySize">

                                    </div>
                                </li>
                                <li>
                                    <div class="submit_btn">
                                        <button type="submit" (click)="onSubmit()" class="bnt_1">UPDATE</button>
                                    </div>

                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

