
<app-header></app-header>

<app-side-nav></app-side-nav>
<section>
    <div class="company_form1">
        <div class="company_form_genral">

                    <app-edit-side-nav style="width:30%;"></app-edit-side-nav>

            <div class="comapany_form" >
                <div>
                    <div class="companyForm">


                        <div class="form" [formGroup] = "companyForm">

                            <ul>

                                <label> Website</label>
                                <li>
                                <input type="text" formControlName="website" class="website"  >
                                </li>
                               
                                
                                <label>Social and Commercial Links</label>
                                
                                 

                    <div formArrayName="links" class="social_link_add">
                                 <div *ngFor="let link of companyForm.get('links')['controls'];let i = index" [formGroupName]="i" >
                                        <div class="link">
                                           
                                        <input type="text" formControlName="linkValue" >
                                       
                                        <select formControlName="linkName" > 
                                                <option value="Instagram">Instagram</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Linkedin">Linkedin</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Pinterest">Pinterest</option>
                                            <option value="Indiamart">Indiamart</option>
                                            <option value="Alibaba">Alibaba</option>
                                            <option value="Tradeindia">Tradeindia</option>
                                        </select>
                                            <span (click)=" deleteLink(i)" style="margin-left: 10px; cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 24 24" style="fill:gray;"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span>
                                            </div>
                                 </div>
                            </div>
                            <div class="add_another_link" *ngIf='companyForm.value.links.length <5'>
                            <h4 (click)="onAddLink()" *ngIf="companyForm.value.links.length"> + Add  another Link</h4>
                            <h4 (click)="onAddLink()" *ngIf="!companyForm.value.links.length"> + Add  Social and Commercial Link</h4>
                        </div>
                        <!-- </div> -->
                                 <label> Company Type</label>
                                <li>
                                    <input list="company-type" formControlName="companyType" class="company-type">

                                </li>
                                <label> Short Bio (200 characters)</label>
                                <li>
                                    <textarea  formControlName="shortIntro"></textarea>
                                </li>

                                <div class="company_size">
                                        <label style="width:42%"> Year Established</label>
                                        <label> Company Size</label>
                                   </div>
                                <li>
                                    <div class="company_size">

                                        <input type="number" formControlName="yearEstd"
                                            class="yearEstd">

                                            <input type="text" formControlName="companySize"
                                            class="companySize">
                                     </div>
                                </li>
                                <div class="working_hours">
                                        <label style="width:66%"> Working Hours</label>
                                        <label> Headquarters</label>
                                        
                                       
                                                <!-- <input type="number" placeholder="Enter Working Hours" formControlName="workingHours" trim #workingHours> -->
                                            
                                            
                                   </div>
                                <li>
                                    <div class="working_hours">
                                        <!-- <input type="number" formControlName="workingHours" class="workinghours"> -->
                                        <input type="time"     formControlName="openAt" trim  class="openAt" />
                                      
                                        <input type="time"   formControlName="closeAt" class="closeAt" />
                                        <input type="text" formControlName="city" class="companySize">

                                    </div>
                                </li>
                                <li>
                                    <div class="submit_btn">
                                        <button type="submit" (click)="onSubmit()" class="bnt_1">UPDATE</button>
                                    </div>

                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

