
section
{
  margin-top: 7%;
}
label
{
  color: black;
}
.company_form1{

  width: 85%;

 margin: 0 auto;
 /* top:50%;
 left: 50%;
 transform: translate(13% ,25%); */
 /* box-shadow: 0 0px 28px rgba(0,0,0,0.30), 0 15px 12px rgba(157, 157, 157, 0.22);
 border: 1px solid  rgba(157, 17, 17, 0.22); */
}
.company_form_genral
{
  display: flex;
}
.tabs
{
  box-shadow: 0px 1px 5px 0px #5555;
  width: 30%;
  height: fit-content;
  padding: 10px;
}
.tab
{

  border-bottom:solid 1px gray;
  padding: 10px 6px;
  CURSOR: POINTER;
}
a
{
  text-decoration: none;
  color:#777272;
}
.tab h3
{
  font-weight: 400;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px 0;
  color: black;

}
.comapany_form
{
  background-color: rgba(214,214,213,.3);
  width: 100%;
  box-shadow: 0px 1px 5px 0px #5555;
  margin-left: 8%;
}

.form{
  width: 100%;
  height: 100%;
}
.form ul
{
  list-style-type: none;
}
li{
  margin-bottom: 5%;
  margin-top: 2%;
  width: 100%;
}
input, select{
  width: 85%;

  height: 32px;
  padding: 6px;
  border: none;
  color: #655b5b;
  outline: none;
  font-size: 15px;

  border-bottom-color: #aaa8a8;

  padding: 2px 20px;

  box-shadow: 0 0 3px 0 rgba(0,0,0,.16);
  border: none;
  outline: 0;
}
input::placeholder {
  color: black;

}

li button{
  width: 20%;
padding: 7px;
  border: none;
  background-color: rgb(56, 67, 79);
  color: floralwhite;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
}
li textarea{
  width: 80%;
  height: 6rem;
  border: none;
  color: black;
  outline: none;
  font-size: 15px;
  border: 1px solid #aaa8a8;
  margin-top: 2%;

}

textarea::placeholder {
  color: black;
  padding: 0 10px;
}
.city{
  width: 47%;
}
.zip{
width:45%; float: right;
}
.company_size
{
  display: flex;
}
.company_size input
{
  width: 40% !important;
  margin: 0 16px 0 0;
}
.company_size input::placeholder
{
  color: #aaa8a8;
}
.working_hours
{
  display: flex;
}
.working_hours input::placeholder
{
  color: #aaa8a8;
}
.working_hours input
{
  width: 40% !important;
  margin: 0 16px 0 0;
}
.link{
  display: flex;
  margin-bottom: 2%;
  width: 80%;
}
.link input{
  width: 100%;
  border: 1px solid #dddfe2;
 

  font-size: 13px;
  height: 25px;
  line-height: 16px;
  padding: 0 8px;
  vertical-align: middle;
}
.link select{
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  width: 35%;
  margin-left: 8px;
  height: 25px;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;

  font-weight: bold;

  padding: 0 8px;
 
}
.link select > option
{
  line-height: 22px;
}
.social_link_add
{
  margin-top: 2%;
}
.add_another_link h4
{
  color: gray ! important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
}
.add_another_link h4:hover
{
  text-decoration: underline;
}
@media screen and (max-width: 700px){
  .comapany_form {
    margin-left: 0;
    
}
  .company_form_genral
  {
    display: block;
  }
  .companyForm{
    width: 100%;
    transform: none;
    /* margin-top: -50px; */
    z-index: 444;
  }
  .infoGraphic{
    display: none;
    width: 0;
  }
  .form {
    width: 90%;
    margin-top: 3%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .company_form1 {
    width: 95%;
   
}
  .form ul{
    width: 90%;
  }
  .heading{
    display: none;
    width: 0;
  }
  header{
    display: block;
    width: 100%;
    height: 10pc;
    background-color: black;
  }
  header h1{
    margin-top: 0;
    padding-top: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  header p{
   text-align: center;
   margin: 0;
   color: #fff;
   font-size: 12px;
  }

  li{
    margin-top: 3%;
  }
  li button{
    /* float: right; */
    width: 35%;
    height: 30px;
    background-color: rgb(56, 67, 79);
    margin-bottom: 10px;
  }
  input::placeholder{
    padding: 0 0 30px 0;

  }
  .city{
    width: 100%;
    margin-bottom: 40px;
  }
  .zip{
  width:100%; float: right;
  margin-bottom: 40px;
  }
  .link {
    
    width: 100%;
}
li textarea {
  width: 100%;
;
}
}
