<body>

<!-- <app-side-nav></app-side-nav>
<app-header style="position:fixed"></app-header>
<app-s-page-header-search></app-s-page-header-search> -->
<!-- <app-s-page-header></app-s-page-header> -->
 <div class="with_login">
  <div class="login_user">
    <div class="user_name">
      <h2 >User Name</h2>
      <span ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625.055 1.83-1.023 4.456-1.993 6.368 2.602-.47 6.301-1.508 7.978-2.536 9.236 2.247 15.968-3.405 15.968-9.457 0-5.812-5.701-10.007-12-10.007zm-5 11.5c-.829 0-1.5-.671-1.5-1.5s.671-1.5 1.5-1.5 1.5.671 1.5 1.5-.671 1.5-1.5 1.5zm5 0c-.829 0-1.5-.671-1.5-1.5s.671-1.5 1.5-1.5 1.5.671 1.5 1.5-.671 1.5-1.5 1.5zm5 0c-.828 0-1.5-.671-1.5-1.5s.672-1.5 1.5-1.5c.829 0 1.5.671 1.5 1.5s-.671 1.5-1.5 1.5z"/></svg></span>
    </div>
    <div class="user_img">
        <img src="assets/images/user_img.jpg"  >
    </div>
    <div class="user_details">
        <div class="user_details1">
            <p >Nikhil Sharma</p>
            <span >jaipur</span>
          </div>
          <div class="user_following">
              <p >Following</p>
              <span >30</span>
            </div>
            <div class="user_following">
                <p >Bookmark</p>
                <span >72</span>
              </div>
      </div>
  </div>
  <div class="feeds">
       <p class="add_feed">Add Feed</p>
      <div class="about_feed">
        <div class="about_feed1">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus tincidunt purus et consequat. Nam nibh ipsum, blandit sed commodo in, hendrerit vel arcu. Mauris ultrices eros ut nisi varius tincidunt. Donec convallis sed libero ut facilisis. Vivamus efficitur ex est, quis ultrices magna blandit a. Vestibulum id sapien sagittis, aliquam mi et, finibus est. Proin lobortis, velit non pharetra viverra.</span>
         </div>
        <div class="add_media">
         <div class="add_media1"> 
          <h2>Add Media</h2>
          </div>
          <div class="add_media1"> 
          <span>"will be added as(company name)"</span>
        </div>
        </div>
      </div>
<section>


<div class="feed">
<div class="authorInfo">
<div class="details">
  <div class="logo">
    <img src="https://picsum.photos/500/300/?random">
  </div>
  <div class="info">
 <h1>Company Name</h1>
 <p style="line-height: 0px;margin-bottom: 12px;margin-top: 5px;">Industry</p>
 <p style="line-height: 3px;margin-bottom: 10px;">Location</p>
</div>
</div>
<div class="followBtn">
 <button>Following</button>
 <p>34,342 followers</p>
</div>
</div>
<div class="feedInfo">
  <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content </p>
</div>
<div class="feed-img">
<img src="https://picsum.photos/500/300/?random">
</div>
<div class="feed-share">
<p  style="padding: 0; margin: 0;">Bookmark</p>
<p style="float:right; padding: 0; margin: 0; margin-top: -18px;">Share</p>
</div>
<div class="tagged">
   <mat-expansion-panel>
       <mat-expansion-panel-header>
         <mat-panel-title>
          <h4 style="  color: #fff">Tagged Products</h4>
         </mat-panel-title>
       </mat-expansion-panel-header>

       <p>This is the primary content of the panel.</p>

     </mat-expansion-panel>
</div>
</div>

</section>
    </div>

    <div class="company_industry">
        <div class="explore_industry">
            <div class="user_name">
      <h2 >User Name</h2>
      <span >hey</span>
        </div>
    </div>


</div>

</div>





</body>
