*{
  margin:0px;
  padding:0px;
}
body{
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);
  font-family: 'Signika', sans-serif;
  font-size:21px;
}
header {
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px -8px 25px #6d6d6d;       position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 991;
}
.menu{
  cursor: pointer;
}
 .menuBar{

    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: .5s ease-in-out;
}
.main {
  position: relative;
  transition: .5s ease-in-out;
}
aside {
  width: 60px;
  background: #fff;
  background-color: #43425D;
  padding: 8px 0px 10px 0px;
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  box-shadow: 0px 3px 5px #6d6d6d;
  overflow: hidden;
  z-index: 99;
  height: 100vh;
  transition: .5s ease-in-out;
}
aside ul {
  list-style: none;
  width: 100%;
  transition: .5s ease-in-out;
}
.activate{
  background-color:white;

}
.activate a
{
  color:black !important;
}

aside ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px 27px;
  position: relative;
  cursor: pointer;
  transition: .5s ease-in-out;

}
aside ul li a {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform:uppercase;
  white-space: nowrap;
  display: inline-block;
  transition: .5s ease-in-out;
}
 span {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  width: 38px;
}
aside ul li:hover {
  background: #fff;
  box-shadow: inset 0px 0px 77px #dedede;
}



aside.width {
    width: 200px;
    transition: .5s ease-in-out;
}

/*  */
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}
p.blink.mah {
  text-align: center;
  line-height: 25;
  position:relative;
}
p.blink.mah span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 102, 153, 0);
  top: 248px;
  left: 360px;
}
.logo{
  display: none;
}
.menu2{
display: none;
}
/*  */
@media screen and (max-width: 700px){
aside{
  width: 0px;
}
.menu1{
  display: none;
}
.logo{
  display: block;
}
.menu2{
  display: inline-block;
}
/* .menu2 span{
  margin-top: -7%;
  margin-left: -2%;
}  */
.menuBar{

  width: 20px;
  height: 2px;
  background-color: black !important;
  margin: 4px 0;

}
}
aside ul li:hover{
  color: black !important;
}
