<aside class="keep" [ngClass]= "{'width': toggle}">
    <ul>
      <li  (click)="onToggle()"> <span class="menu">
          <div class="menuBar"></div>
          <div class="menuBar"></div>
          <div class="menuBar"></div>
      </span>
      <!-- <a >ElROUTE</a> -->
    </li>
      <li>
        <a href="/">
          <span></span>
           Home
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Dashboard
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Inbox
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Product
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Services
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Individuals
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Chat Room
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Bookmarks
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Help Center
        </a>
      </li>
      <li>
        <a href="/">
          <span></span>
           Settings
        </a>
      </li>
    </ul>
  </aside>
